<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 8)]><!-->

		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='js/jsLibraries.min.js'></script>
		<script type='text/javascript' src='js/jquery.iLightBox.min.js'></script>
<html lang="en-US" class="cmsms_html">
	<body>	
	<!-- _________________________ Start Page _________________________ -->
		<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site">
		<!-- _________________________ Start Main _________________________ -->
			<div id="main" ng-controller="competitionController">
			<!-- _________________________ Start Header _________________________ -->
				<header id="header">
				
				</header>
			<!-- _________________________ Finish Header _________________________ -->
			<!-- _________________________ Start Middle _________________________ -->
				<div id="middle">
	
					<div class="middle_inner">
						<div class="content_wrap r_sidebar">
						<!--_________________________ Start Content _________________________ -->
							<div class="content entry" role="main">
								<div class="blog opened-article">
							<!--_________________________ Start Standard Article _________________________ -->
									<article class="post format-standard hentry">
										<header class="cmsms_post_header entry-header">
											<span class="cmsms_post_format_img cmsms-icon-desktop-3"></span>
											<h1 class="cmsms_post_title entry-title">{{competition.name}}</h1>
										</header>
										<div class="cmsms_post_content entry-content">
											<div id="cmsms_row_554b576c54360" class="cmsms_row cmsms_color_scheme_default">
												<div class="cmsms_row_outer_parent">
													<div class="cmsms_row_outer">
														<div class="cmsms_row_inner">
															<div class="cmsms_row_margin">
																<div class="cmsms_column one_first">
																	<div class="cmsms_text">
																		<p>{{competition.description}}</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="cl"></div>
										</div>
										<footer class="cmsms_post_footer entry-meta">
											<div class="cmsms_post_meta_info">
												<abbr class="published cmsms_post_date cmsms-icon-calendar-8" title="De">{{competition.start_date |date: 'dd-MM HH:mm'}}</abbr>---
 <abbr class="published cmsms_post_date cmsms-icon-calendar-8" title="A">{{competition.end_date |date: 'dd-MM HH:mm'}}</abbr> ---                                              
                                                <a href="#"  title="qui ont participé Déja!!importez votre photo pour nous rejoindre" onclick="return false;" id="cmsmsLike-2000" ><span>{{competition.participants.length}}<span translate="Conc.personnes">Personnes </span></span></a>
											</div>
											<div class="cmsms_post_cont_info">
												<span class="cmsms_post_user_name" tarnslate="Conc.par" translate="Conc.par">Par</span>	 <a href="#" title="Posts by backdoor" class="vcard author"><span class="fn" rel="author">Green Community</span></a>	</div>
										</footer>
									</article>
					
						
									<aside class="related_posts">
										<h3>Images</h3>
										<ul>
											<li><a href="#" class="current" translate="Conc.Populaires">Populaires</a></li>
											<li><a href="#" translate="Conc.Récemment">Récemment</a></li>
										</ul>
										<div class="related_posts_content">
											<div class="related_posts_content_tab" style="display:block;">
												<div class="one_half" ng-repeat="img in competition.images_participating | orderBy: 'votes':true">
           										<div class="cl">                                         
													<div class="rel_post_content" >
														<figure class="alignleft">
															<a href="#/image/{{img._id}}" title="Sunflower Time">
																<img width="500" height="500" src="http://bledi--ndhifa.herokuapp.com/uploads/{{img.link}}" class="attachment-100x100" alt="Sunflower Time" title="Sunflower Time" style="width:200px; height:150px;" />
															</a>
														</figure>
														<h5>
															<a href="#" title="Sunflower Time">{{img.title}}</a>
                                                            <br>
          	<a href="#" title="Sunflower Time" translate="Conc.Le"> Le </a><span> {{img.upload_date | date: 'dd-MM-yyyy HH:mm'}}</span>                                                 <br>
                                                            
                                                            
               <a href="#" onclick="return false;" id="cmsmsLike-172" class="cmsmsLike active cmsms-icon-heart-7"><span>{{img.votes}}</span></a>                                             
														</h5>
                                                
													</div>
      </div>                                              
												</div>
                                 
				
									
												
											</div>
											<div class="related_posts_content_tab">
								
												<div class="one_half last" ng-repeat="img in competition.images_participating | orderBy: 'upload_date':true">
													<div class="rel_post_content" >
														<figure class="alignleft">
															<a href="#" title="Spring Melody">
																<img width="100" height="100" src="http://bledi--ndhifa.herokuapp.com/uploads/{{img.link}}" class="attachment-100x100" alt="Spring Melody" title="Spring Melody" style="width:200px; height:150px;" />
															</a>
														</figure>
														<h5>
															<a href="#" title="Sunflower Time">{{img.title}}</a>
                                                            <br>
          	<a href="#" title="Sunflower Time" translate="Conc.Le"> Le </a><span> {{img.upload_date | date: 'dd-MM-yyyy HH:mm'}}</span>                                                 <br>
                                     
                                                            	  <a href="#" onclick="return false;" id="cmsmsLike-172" class="cmsmsLike active cmsms-icon-heart-7"><span>{{img.votes}}</span></a>
														</h5>
													</div>
												</div>
												<div class="cl"></div>
												<div class="one_half">
													
												</div>
												
												<div class="cl"></div>
											</div>
										</div>
									</aside>
									<div id="respond" class="comment-respond">
										
                                        
     <div id="cmsms_row_56be4d9d8de1c" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<h3 id="cmsms_heading_56be4d9d8e1b4" class="cmsms_heading" translate="Conc.Zone">Zone Upload</h3><div class="cmsms_text">
<p translate="Conc.conf">Pour participer a ce concour veuillez importez votre pièce jointe puis cliquer sur Valider participation dans l'onglet à droite. </p>
<h3 translate="Conc.NB">NB: si vous ne validez pas votre participation à droite, la piéce jointe ne sera pas prise en considération.</h3>
</div>
<div id="cmsms_divider_56be4d9d8e394" class="cmsms_divider solid"></div>
<h3 id="cmsms_heading_56be4d9d8e44b" class="cmsms_heading" translate="Conc.import">Importez votre image</h3>
<div class="cmsms_contact_form"><div class="cmsms-form-builder">
<div class="cmsms_notice cmsms_notice_success cmsms_theme_icon_check success_box" style="display:none;">
<div class="notice_icon"></div>
<div class="notice_content">
<p>Thank You! <br />Your message has been sent successfully.</p>
</div>
</div>
    <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://bledi--ndhifa.herokuapp.com/images/add',
    type: 'POST',
    data: formData,
    async: true,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      $('#created').val(returndata);
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#data")).scope();
        scope.upVote(returndata,function(){
  
    });
        alert("votre image a ete ajouté");
       /*window.location.reload();*/
    }
     
      
      
  });
 
  return false;
});
    
    </script>
    
<form ng-controller="comuploadController" id="data">
<input type="text" id="created" ng-model="image" hidden/>
    <input type="text"  
value ="{{$storage.user}}" name="owner" ng-model="owner" hidden/>
    <div class="form_info cmsms_input">
	<label for="cmsms_your_email" translate="Conc.Titre">Titre<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200" name="title" ng-model="title" required>
	</div>
</div>
    <div class="form_info cmsms_input">
		 		<label for="cmsms_your_email">Image<span class="color_2">*</span></label>
		 		<div class="form_field_wrap">
		 			<input type="file" size="200" name="file" class="form-control" required>
		 		</div>
		 	</div>
<div class="cl"></div>
<div class="loading"></div>
<div class="form_info submit_wrap">
    <input class="btn btn-primary pull-right" type="submit" translate="Conc.Valider" value="Valider" >
			
</div>
<div class="cl"></div>
</form>
    
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>                                       
                                        
                                        
                                        
                                        
                                        
                                        
                                        
									</div><!-- #respond -->
								</div>
							</div>
						<!-- _________________________ Finish Content _________________________ -->
						<!-- _________________________ Start Sidebar _________________________ -->
							<div class="sidebar" role="complementary">
								<aside id="search-2" class="widget widget_search">
									<div class="search_bar_wrap">
										<form method="get">
											<p>
												<input name="s" placeholder="{{'Conc.recher' | translate}}" value="" type="text" />
												<button type="submit" class="cmsms-icon-search-7"></button>
											</p>
										</form>
									</div>
								</aside>
								<aside id="custom-flickr-2" class="widget widget_custom_flickr_entries">
							
								</aside>
	
								<aside id="recent-posts-2" class="widget widget_recent_entries">		
									<h3 class="widgettitle" translate="Conc.post">Concours Récents</h3>	
									<ul ng-controller="competitionController" ng-repeat="ev in competitions | orderBy: 'start_date':true">
										<li><a href="#/concours/{{ev._id}}">{{ev.name}}</a></li>
										
										
										
									</ul>
								</aside>
                                
                                								<aside id="cmsms_paypal" class="widget widget_custom_paypal_donations">
									<div class="cmsms_paypal_donations_widget" ng-Controller="comparticipateController">
										<h3 class="widgettitle"translate="Conc.partt" >Participer a cette competition</h3>
										<h4 translate="Conc.gagn">Voulez- vous gagner ?? importez votre image maintenant et remportez un nombre maximal de votes </h4>
                                        
                                        <form class="form-horizontal col-sm-offset-1" method="post">
    
     <button class="cmsms_button_555444cd124f1"   ng-click="upVote()"  ng-Controller="comparticipateController" translate="Conc.val">Valider participation!</button>
    

                                        </form>
                                        
                                        
										
									</div>
								</aside>
                                
                                
                                
                                
							</div>
						<!-- _________________________ Finish Sidebar _________________________ -->
						</div>
					</div>
				</div>
			<!-- _________________________ Finish Middle _________________________ -->
				<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
			</div>

		</div>
	<!-- _________________________ Finish Page _________________________ -->
			<script type='text/javascript' src='js/jqueryLibraries.min.js'></script>
			<script type='text/javascript'>
			/* <![CDATA[ */
				var cmsms_script = {
					"ilightbox_skin":"dark",
					"ilightbox_path":"vertical",
					"ilightbox_infinite":"0",
					"ilightbox_aspect_ratio":"1",
					"ilightbox_mobile_optimizer":"1",
					"ilightbox_max_scale":"1",
					"ilightbox_min_scale":"0.2",
					"ilightbox_inner_toolbar":"0",
					"ilightbox_smart_recognition":"0",
					"ilightbox_fullscreen_one_slide":"0",
					"ilightbox_fullscreen_viewport":"center",
					"ilightbox_controls_toolbar":"1",
					"ilightbox_controls_arrows":"0",
					"ilightbox_controls_fullscreen":"1",
					"ilightbox_controls_thumbnail":"1",
					"ilightbox_controls_keyboard":"1",
					"ilightbox_controls_mousewheel":"1",
					"ilightbox_controls_swipe":"1",
					"ilightbox_controls_slideshow":"0",
					"ilightbox_close_text":"Close",
					"ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)",
					"ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)",
					"ilightbox_slideshow_text":"Slideshow",
					"ilightbox_next_text":"Next",
					"ilightbox_previous_text":"Previous",
					"ilightbox_load_image_error":"An error occurred when trying to load photo.",
					"ilightbox_load_contents_error":"An error occurred when trying to load contents.",
					"ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."
				};
			/* ]]> */
			</script>
			
			<script type='text/javascript' src='js/jquery.easing.min6f3e.js?ver=1.3.0'></script>
			<script type='text/javascript' src='js/jquery.script.js'></script>
			<script type='text/javascript' src='js/jquery.tweet.min.js'></script>
			<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
			<script type='text/javascript' src='js/jquery.isotope.mode.js'></script>
			<script type='text/javascript' src='js/widget-countdown.js'></script>
	</body>

</html>
