        <link rel='stylesheet' href='LayerSlider/css/layerslider.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/fontgoogle.css' type='text/css' media='all' />
		<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
		<link rel='stylesheet' href='css/style.css' />
		<link rel='stylesheet' href='css/adaptive.css' />
		<link rel='stylesheet' href='css/retina.css' />
		<link rel='stylesheet' href='css/ilightbox.css' />
		<link rel='stylesheet' href='css/ilightbox-skins/dark-skin.css' />
		<link rel='stylesheet' href='css/cmsms-events-style.css' />
		<link rel='stylesheet' href='css/cmsms-events-adaptive.css' />
		<link rel='stylesheet' href='css/fontello.css' />
		<link rel='stylesheet' href='css/animate.css' />

		<link rel='stylesheet' href='css/econature.css' />
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700&amp;ver=4.2' type='text/css' media='all' />
		<link rel='stylesheet' href='css/jquery.isotope.css' type='text/css' media='screen' />
		
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		
		<style type="text/css">
			.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
				overflow-y:auto;
			}

			.header_mid_inner .logo {
				position:static;
			}
			#footer.cmsms_footer_default .footer_inner {
				min-height:450px;
			}
			
			.fixed_footer #main {
				margin-bottom:450px;
			}
			
			#cmsms_row_1 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_1 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			} 

			#cmsms_row_1 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-left:0%; 
			} 
			#cmsms_row_1 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-right:0%; 
			} 
			 
			#cmsms_row_2 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_2 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			}
			 
			#cmsms_row_3 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_3 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e80710d, #cmsms_heading_553e49e80710d a { 
				font-size:34px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			
			#cmsms_row_4 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_4 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			} 
			 
			#cmsms_stat_553e49e8075f6 .cmsms_stat_counter { 
				color:#57cbe1; 
			} 

			#cmsms_stat_553e49e8076a4 .cmsms_stat_counter { 
				color:#62e0c1; 
			} 

			#cmsms_stat_553e49e80773a .cmsms_stat_counter { 
				color:#7fe092; 
			} 

			#cmsms_stat_553e49e8077d1 .cmsms_stat_counter { 
				color:#b7f275; 
			} 
			 
			#cmsms_row_5 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_5 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e807cad, #cmsms_heading_553e49e807cad a { 
				color:#979ca4; color:rgba(151, 156, 164, 1);
				font-size:18px; 
				line-height:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:30px; 
			} 
			 
			#cmsms_row_6 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_6 .cmsms_row_outer_parent { 
				padding-bottom: 70px; 
			} 


			#cmsms_paypal_donations_553e49e8080d0 { 
				text-align:center; 
			} 

			#cmsms_paypal_donations_553e49e8080d0 .cmsms_button:before { 
				margin-right:0;
				margin-left:0; 
				vertical-align:baseline; 
			} 

			#cmsms_paypal_donations_553e49e8080d0 .cmsms_button { 
				font-weight:100; 
				font-style:normal; 
			} 
			
			#cmsms_paypal_donations_553e49e8080d0 form:hover + .cmsms_button { 
			} 
			 
			#cmsms_row_7 { 
				background-image: url(img/title-bg.jpg); 
				background-position: top center; 
				background-repeat: repeat-y; 
				background-attachment: scroll; 
				background-size: cover; 
			} 

			#cmsms_row_7 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_7 .cmsms_row_outer_parent { 
				padding-bottom: 100px; 
			} 

			#cmsms_row_7 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-left:10%; 
			} 
			#cmsms_row_7 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-right:10%; 
			} 
			 
			#cmsms_heading_553e49e808e7f, #cmsms_heading_553e49e808e7f a { 
				color:#ffffff; color:rgba(255, 255, 255, 1);
				font-size:34px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:60px; 
			} 
			 #cmsms_row_555212697abbb { 
				background-color: #ffffff; 
				background-image: url(img/images/bg-grass-2.jpg); 
				background-position: bottom center; 
				background-repeat: no-repeat; 
				background-attachment: scroll; 
				background-size: contain; 
			} 
			
			#cmsms_row_555212697abbb .cmsms_row_outer_parent { 
				padding-top: 50px; 
			} 

			#cmsms_row_555212697abbb .cmsms_row_outer_parent { 
				padding-bottom: 250px; 
			}
			#cmsms_row_8 .cmsms_row_outer_parent { 
				padding-top: 80px; 
			} 

			#cmsms_row_8 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e81ea44, #cmsms_heading_553e49e81ea44 a { 
				font-size:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:0px; 
			} 
			 
			#cmsms_row_9 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_9 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			} 

			 #cmsms_icon_list_items_553e49e81ee7b.cmsms_icon_list_pos_right .cmsms_icon_list_item:before { 
				left:auto; 
				right:39.5px; 
			} 
			#cmsms_icon_list_items_553e49e81ee7b.cmsms_icon_list_type_block .cmsms_icon_list_item:before { 
				width:1px; 
			} 

			#cmsms_icon_list_items_553e49e81ee7b .cmsms_icon_list_icon { 
				border-width:1px; 
				width:80px; 
				height:80px; 
				-webkit-border-radius:50; 
				-moz-border-radius:50; 
				border-radius:50; 
			} 

			#cmsms_icon_list_items_553e49e81ee7b .cmsms_icon_list_icon:before { 
				font-size:32px; 
				line-height:78px; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc .cmsms_icon_list_icon:before { 
				color:#58d4e7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc:hover .cmsms_icon_list_icon { 
				background-color:#58d4e7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 

		
			#cmsms_row_55548d3401655 .cmsms_row_outer_parent { 
				padding-top: 50px; 
			} 

			#cmsms_row_55548d3401655 .cmsms_row_outer_parent { 
				padding-bottom: 35px; 
			} 		.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115 .cmsms_icon_list_icon:before { 
				color:#62e0c7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115:hover .cmsms_icon_list_icon { 
				background-color:#62e0c7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 
			 
			#cmsms_icon_list_items_553e49e81f520.cmsms_icon_list_items .cmsms_icon_list_item:before { 
				left:39.5px; 
			} 
			
			#cmsms_icon_list_items_553e49e81f520.cmsms_icon_list_type_block .cmsms_icon_list_item:before { 
				width:1px; 
			} 

			#cmsms_icon_list_items_553e49e81f520 .cmsms_icon_list_icon { 
				border-width:1px; 
				width:80px; 
				height:80px; 
				-webkit-border-radius:50%; 
				-moz-border-radius:50%; 
				border-radius:50%; 
			} 

			#cmsms_icon_list_items_553e49e81f520 .cmsms_icon_list_icon:before { 
				font-size:32px; 
				line-height:78px; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676 .cmsms_icon_list_icon:before { 
				color:#7ce095; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676:hover .cmsms_icon_list_icon { 
				background-color:#7ce095; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9 .cmsms_icon_list_icon:before { 
				color:#a6ec7c; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9:hover .cmsms_icon_list_icon { 
				background-color:#a6ec7c; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 
			 
			#cmsms_row_10 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_10 .cmsms_row_outer_parent { 
				padding-bottom: 50px; 
			}
			 
			#cmsms_heading_553e49e81fcae, #cmsms_heading_553e49e81fcae a { 
				font-size:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:0px; 
			} 
			 
			#cmsms_row_11 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_11 .cmsms_row_outer_parent { 
				padding-bottom: 70px; 
			}
			 
			#cmsms_heading_553e49e832cc5, #cmsms_heading_553e49e832cc5 a { 
				font-size:26px; 
				text-align:left; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			 
			#cmsms_tabs_list_item_553e49e832e43 a:hover,#cmsms_tabs_list_item_553e49e832e43.current_tab a { 
				background-color:#57cbe1; 
				border-color:#57cbe1; 
			} 

			#cmsms_tabs_list_item_553e49e8358a9 a:hover,#cmsms_tabs_list_item_553e49e8358a9.current_tab a { 
				background-color:#62e0c1; 
				border-color:#62e0c1; 
			} 

			#cmsms_tabs_list_item_553e49e835a40 a:hover,#cmsms_tabs_list_item_553e49e835a40.current_tab a { 
				background-color:#7fe092; 
				border-color:#7fe092; 
			} 
			 
			#cmsms_heading_553e49e835edb, #cmsms_heading_553e49e835edb a { 
				font-size:26px; 
				text-align:left; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			 
			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836051.cmsms_stat { 
				width:{{Indice_air}}%; 
			} 

			#cmsms_stat_553e49e836051 .cmsms_stat_inner { 
				background-color:#57cbe1; 
				color:#ffffff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e8360f4.cmsms_stat { 
				width:{{Indice_son}}%; 
			} 

			#cmsms_stat_553e49e8360f4 .cmsms_stat_inner { 
				background-color:#62e0c1; 
				color:#ffffff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836189.cmsms_stat { 
				width:{{Indice_eau}}%; 
			} 

			#cmsms_stat_553e49e836189 .cmsms_stat_inner { 
				background-color:#7fe092; 
				color:#ffffff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836214.cmsms_stat { 
				width:88%; 
			} 

			#cmsms_stat_553e49e836214 .cmsms_stat_inner { 
				background-color:#b7f275; 
				color:#ffffff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e83629e.cmsms_stat { 
				width:78%; 
			} 

			#cmsms_stat_553e49e83629e .cmsms_stat_inner { 
				background-color:#c9ef5f; 
				color:#ffffff; 
			} 
			 
			#cmsms_row_12 { 
				background-image: url(img/images/bg-big-water.jpg); 
				background-position: top center; 
				background-repeat: repeat-y; 
				background-attachment: scroll; 
				background-size: cover; 
			} 

			#cmsms_row_12 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_12 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			} 
		</style>
	<div>
		
	<!-- _________________________ Start Page _________________________ -->
		<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site">
	<!-- _________________________ Start Main _________________________ -->
			<div id="main">
	<!-- _________________________ Start Header _________________________ -->
	 
  
	

					<div class="middle_inner">
	<!--_________________________ Start Content _________________________ -->
						<div id="cmsms_row_1" class="cmsms_row cmsms_color_scheme_default">
							<div class="cmsms_row_outer_parent">
								<div class="cmsms_row_outer">
									<div class="cmsms_row_inner cmsms_row_fullwidth">
										<div class="cmsms_row_margin">
											<div class="cmsms_column one_first">
												<div class="cmsms_slider">

                                                    
                                                    
   <div class="notice" id="cmsms_row_55548d3401655" style="width:300px" >

</div>                                                    
                                                    <script type="text/javascript">var lsjQuery = jQuery;</script>
													<script type="text/javascript"> 
														lsjQuery(document).ready(function() { 
															if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); } 
															else { lsjQuery("#layerslider_1").layerSlider({
																navStartStop: false, 
																navButtons: false, 
																skinsPath: 'LayerSlider/assets/skins/'
															})} 
														}); 
													</script>
                                                    
                                                   
													<div id="layerslider_1" class="ls-wp-container" style="width:1920px;height:670px;margin:0 auto; margin-top: 14px;">
                  <div class="ls-slide" data-ls="slidedelay:3500; transition2d: all;"><img src="plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/imggg.jpg" class="ls-bg" alt="bg-blur" /><img class="ls-l" style="top:0px;left:0px;white-space: nowrap;" data-ls="offsetxin:0;delayin:400;offsetxout:0;durationout:1000;parallaxlevel:1;"
                    src="plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/bg.jpg" alt="">
                    <p class="ls-l" style="top:210px;left:573px;font-weight:300;font-family:open sans;font-size:54px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1300;delayin:400;offsetxout:0;" translate='stat.Bien'>Bienvenu a</p>
                    <p class="ls-l" style="top:280px;left:567px;font-weight:300;font-family:open sans;font-size:90px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;durationout:0;">Blédi Ndhifa</p>
                    <p class="ls-l" style="top:402px;left:1089px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1200;offsetxout:0;" translate='stat.community'>La communauté Green Tunisienne</p><img class="ls-l" style="top:278px;left:1354px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1200;rotatein:90;rotatexin:180;rotateyin:180;offsetxout:0;"
                    src="/app/plugins/LayerSlider/static/img/blank.gif" data-src="http://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/leaf.png" alt=""></div>
                  <div class="ls-slide" data-ls="slidedelay:3500; transition2d: all;"><img src="/app/plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/imggg.jpg" class="ls-bg" alt="bg-blur-2" /><img class="ls-l" style="top:0px;left:0px;white-space: nowrap;"
                    data-ls="offsetxin:0;durationin:800;delayin:200;offsetxout:0;durationout:1000;parallaxlevel:1;" src="/plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/bg-2.jpg" alt="">
                    <p class="ls-l" style="top:195px;left:510px;font-weight:300;font-family:open sans;font-size:150px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:400;offsetxout:0;durationout:0;" translate='stat.Ilfaut'>Il faut agir</p>
                    <p class="ls-l" style="top:526px;left:711px;font-weight:500;font-family:open sans;font-size:28px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;offsetxout:0;" translate='stat.avant'>avant qu'il ne soit trop tard.</p><img class="ls-l" style="top:161px;left:934px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:800;rotatexin:180;rotateyin:180;offsetxout:0;"
                    src="/app/plugins/LayerSlider/static/img/blank.gif" data-src="http://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/wave.png" alt="">
                    <p class="ls-l" style="top:398px;left:838px;font-weight:300;font-family:open sans;font-size:60px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:600;offsetxout:0;durationout:0;" translate='stat.Maintenant'>Maintenant</p>
                  </div>
                  <div class="ls-slide" data-ls="slidedelay:3800; transition2d: all;"><img src="/app/plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/bg.jpg" class="ls-bg" alt="bg-blur-3" /><img class="ls-l" style="top:0px;left:1px;white-space: nowrap;"
                    data-ls="offsetxin:0;durationin:800;delayin:200;offsetxout:0;durationout:1000;parallaxlevel:1;" src="/app/plugins/LayerSlider/static/img/blank.gif" data-src="wp-content/uploads/2014/07/imggg.jpg" alt="">
                    <p class="ls-l" style="top:100px;left:373px;font-weight:300;font-family:open sans;font-size:240px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:800;delayin:400;offsetxout:0;durationout:0;" translate='stat.Ensemble'>Ensemble</p><img class="ls-l" style="top:153px;left:791px;font-weight:300;font-family:open sans;font-size:44px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:-160;offsetyin:250;durationin:1500;delayin:800;rotatein:60;rotatexin:60;rotateyin:60;offsetxout:160;offsetyout:-250;durationout:600;"
                    src="/plugins/LayerSlider/static/img/blank.gif" data-src="http://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/plan.png" alt="">
                    <p class="ls-l" style="top:407px;left:382px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;" translate='stat.on'>on peux changer notre Tunisie</p>
                    <p class="ls-l" style="top:456px;left:381px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;" translate='stat.vers le meilleur.'>vers le meilleur.</p>
                    <p class="ls-l" style="top:508px;left:380px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;"></p>
                  </div>
                </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					
							
						
						
						
						
						<div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center"><h3 class="stunning-item-title">Nos Missions</h3><div class="stunning-item-caption greennature-skin-content">
</div></div></div>
						
						
						
						<div id="cmsms_row_9" style="background:url('img/title-bg.jpg')" >
							<div class="cmsms_row_outer_parent">
								<div class="cmsms_row_outer">
									<div class="cmsms_row_inner">
										<div class="cmsms_row_margin">
											<div class="cmsms_column one_half">
												<ul id="cmsms_icon_list_items_553e49e81ee7b" class="cmsms_icon_list_items cmsms_icon_list_type_block cmsms_icon_list_pos_right cmsms_color_type_icon">
													<li id="cmsms_icon_list_item_553e49e81efbc" class="cmsms_icon_list_item">
														<div class="cmsms_icon_list_item_inner">
															<div class="cmsms_icon_list_icon_wrap">
																<span class="cmsms_icon_list_icon cmsms-icon-cloud-7"></span>
															</div>
															<div class="cmsms_icon_list_item_content">
																<h2 class="cmsms_icon_list_item_title" translate='stat.eco' >L'ecologie Aujourd'hui</h2>
																<div class="cmsms_icon_list_item_text">
																	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
																</div>
															</div>
														</div>
													</li>
													<li id="cmsms_icon_list_item_553e49e81f115" class="cmsms_icon_list_item">
														<div class="cmsms_icon_list_item_inner">
															<div class="cmsms_icon_list_icon_wrap">
																<span class="cmsms_icon_list_icon cmsms-icon-star-7"></span>
															</div>
															<div class="cmsms_icon_list_item_content">
																<h2 class="cmsms_icon_list_item_title" translate='stat.dyn'>Ecologie dynamique</h2>
																<div class="cmsms_icon_list_item_text">
																	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
											<div class="cmsms_column one_half">
												<ul id="cmsms_icon_list_items_553e49e81f520" class="cmsms_icon_list_items cmsms_icon_list_type_block cmsms_icon_list_pos_left cmsms_color_type_icon">
													<li id="cmsms_icon_list_item_553e49e81f676" class="cmsms_icon_list_item">
														<div class="cmsms_icon_list_item_inner">
															<div class="cmsms_icon_list_icon_wrap">
																<span class="cmsms_icon_list_icon cmsms-icon-heart-7"></span>
															</div>
															<div class="cmsms_icon_list_item_content">
																<h2 class="cmsms_icon_list_item_title" translate='stat.plant'>Ecologie des plantes</h2>
																<div class="cmsms_icon_list_item_text">
																	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
																</div>
															</div>
														</div>
													</li>
													<li id="cmsms_icon_list_item_553e49e81f7b9" class="cmsms_icon_list_item">
														<div class="cmsms_icon_list_item_inner">
															<div class="cmsms_icon_list_icon_wrap">
																<span class="cmsms_icon_list_icon cmsms-icon-trash-8"></span>
															</div>
															<div class="cmsms_icon_list_item_content">
																<h2 class="cmsms_icon_list_item_title" translate='stat.recyc'>recyclage des Déchets</h2>
																<div class="cmsms_icon_list_item_text">
																	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				
						
						
						
						
						
							<div id="cmsms_row_3" class="cmsms_row cmsms_color_scheme_default">
								
						<div class="container">
							
							
							<div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center"><h3 class="stunning-item-title">Soutenez notre cause  et faites un don aux associations!</h3><div class="stunning-item-caption greennature-skin-content">
</div>
								
								<a class="stunning-item-button greennature-button large greennature-lb-payment" href="#" style="background-color: #ecb338; color: #ffffff;" >Donate Now!</a>
								</div></div><div class="clear"></div><div class="clear"></div></div>
						
								
						</div>
						
						
					
						<div id="cmsms_row_7" class="cmsms_row cmsms_color_scheme_default" data-stellar-background-ratio="0.5">
							<div class="cmsms_row_outer_parent">
								<div class="cmsms_row_outer">
									<div class="cmsms_row_inner cmsms_row_fullwidth">
										<div class="cmsms_row_margin">
											<div class="cmsms_column one_first">
												
												
												<div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center"><h3 class="stunning-item-title" style="color:white">Concours</h3><div class="stunning-item-caption greennature-skin-content">
</div></div></div>
												
												
												<div class="cmsms_wrap_portfolio entry-summary" id="portfolio_553e49e808f56" data-meta="title,categories,rollover">
													<script type="text/javascript">
														jQuery(document).ready(function () {
															(function ($) {
																if ($('#portfolio_553e49e808f56').find('article').length == '0') {
																	return false;
																}
																
															
																startPortfolio( 
																	'553e49e808f56', 
																	'puzzle', 
																	'perfect', 
																	'date', 
																	'DESC', 
																	'10', 
																	'animals,biology,ecology,home,people,water' 
																);
															} )(jQuery);
														} );
													</script>
													<div class="portfolio puzzle zero_gap perfect">
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-ecology pj-categs-home" data-category="ecology home">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec.jpg" class="full-width" alt="Present for You" title="Present for You" />
																	<div class="cmsms_img_rollover">
																		<a href="img/images/present-full.jpg" data-rel="ilightbox[87_553e49e80c62c]" title="Present for You" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Present for You" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Present for You</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Ecology</a>, <a href="open-project.html" rel="tag">Home</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717114108</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-home" data-category="home">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec1.jpg" class="full-width" alt="Beauty of Life" title="Beauty of Life" /><div class="cmsms_img_rollover">
																		<a href="img/images/life-full.jpg" data-rel="ilightbox[84_553e49e80eb87]" title="Beauty of Life" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Beauty of Life" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Beauty of Life</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Home</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717113735</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-animals pj-categs-home pj-categs-people" data-category="animals home people">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec3.jpg" class="full-width" alt="Loneliness" title="Loneliness" /><div class="cmsms_img_rollover">
																		<a href="img/images/loneliness-full.jpg" data-rel="ilightbox[80_553e49e811064]" title="Loneliness" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Loneliness" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Loneliness</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Animals</a>, <a href="open-project.html" rel="tag">Home</a>, <a href="open-project.html" rel="tag">People</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717113416</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-home pj-categs-water" data-category="home water">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec4.jpg" class="full-width" alt="Clear Water" title="Clear Water" />
																	<div class="cmsms_img_rollover">
																		<a href="img/images/ocean-water-full.jpg" data-rel="ilightbox[76_553e49e81356e]" title="Clear Water" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Clear Water" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Clear Water</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Home</a>, <a href="open-project.html" rel="tag">Water</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717112547</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-animals" data-category="animals">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec6.jpg" class="full-width" alt="Ocean Turtle" title="Ocean Turtle" /><div class="cmsms_img_rollover">
																		<a href="img/images/ocean-turtle-full.jpg" data-rel="ilightbox[69_553e49e8159ca]" title="Ocean Turtle" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Ocean Turtle" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Ocean Turtle</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Animals</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717110250</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-animals pj-categs-home" data-category="animals home">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec7.jpg" class="full-width" alt="White Tiger" title="White Tiger" />
																	<div class="cmsms_img_rollover">
																		<a href="img/images/white-tiger-full.jpg" data-rel="ilightbox[66_553e49e817e47]" title="White Tiger" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="White Tiger" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">White Tiger</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Animals</a>, <a href="open-project.html" rel="tag">Home</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717102238</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-home pj-categs-people" data-category="home people">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec9.jpg" class="full-width" alt="Social Ecology" title="Social Ecology" />
																	<div class="cmsms_img_rollover">
																		<a href="img/images/Social-Ecology-full.jpg" data-rel="ilightbox[57_553e49e81a457]" title="Social Ecology" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Social Ecology" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Social Ecology</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Home</a>, <a href="open-project.html" rel="tag">People</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717094532</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
	<!--_________________________ Start Standard Project _________________________ -->
														<article class="one_x_one project format-standard hentry pj-categs-animals pj-categs-home" data-category="animals home">
															<div class="project_outer">
																<figure class="cmsms_img_rollover_wrap preloader">
																	<img width="580" height="460" src="wp-content/uploads/2014/07/ec10.jpg" class="full-width" alt="Biodiversity" title="Biodiversity" />
																	<div class="cmsms_img_rollover">
																		<a href="img/images/Biodiversity-full.jpg" data-rel="ilightbox[46_553e49e81c97b]" title="Biodiversity" class="cmsms_image_link">
																			<span class="cmsms-icon-search-7"></span>
																		</a>
																		<a href="open-project.html" title="Biodiversity" class="cmsms_open_link">
																			<span class="cmsms-icon-attach-6"></span>
																		</a>
																	</div>
																</figure>
																<div class="project_inner">
																	<header class="cmsms_project_header entry-header">
																		<h3 class="cmsms_project_title entry-title">
																			<a href="open-project.html">Biodiversity</a>
																		</h3>
																	</header>
																	<div class="cmsms_project_cont_info entry-meta">
																		<span class="cmsms_project_category">
																			<a href="open-project.html" rel="tag">Animals</a>, <a href="open-project.html" rel="tag">Home</a>
																		</span>
																	</div>
																</div>
																<span class="dn meta-date">20140717091711</span>
																<div class="cl"></div>
															</div>
														</article>
	<!--_________________________ Finish Standard Project _________________________ -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
						
						
						
						
							<div id="cmsms_row_10" class="cmsms_row cmsms_color_scheme_default">
							<div class="cmsms_row_outer_parent">
								<div class="cmsms_row_outer">
									<div class="cmsms_row_inner">
										<div class="cmsms_row_margin">
											<div class="cmsms_column one_first">
												
												<div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center"><h3 class="stunning-item-title">Participez à Nos Evenements</h3><div class="stunning-item-caption greennature-skin-content">
</div></div></div>
												
												
												<div class="cmsms_posts_slider" >
													<script type="text/javascript">
														jQuery(document).ready(function () { 
															var container = jQuery('.cmsms_slider_553e49e81fd81');
																containerWidth = container.width(), 
																firstPost = container.find('article'), 
																postMinWidth = Number(firstPost.css('minWidth').replace('px', '')), 
																postThreeColumns = (postMinWidth * 4) - 1;
																postTwoColumns = (postMinWidth * 3) - 1;
																postOneColumns = (postMinWidth * 2) - 1; 
															
															
															jQuery('.cmsms_slider_553e49e81fd81').owlCarousel( {
																items : 4, 
																itemsDesktop : false, 
																itemsDesktopSmall : [postThreeColumns,3], 
																itemsTablet : [postTwoColumns,2], 
																itemsMobile : [postOneColumns,1], 
																transitionStyle : false, 
																rewindNav : true, 
																slideSpeed : 200, 
																paginationSpeed : 800, 
																rewindSpeed : 1000, autoPlay : 7000, stopOnHover : true, 
																autoHeight : true, 
																addClassActive : true, 
																responsiveBaseWidth : '.cmsms_slider_553e49e81fd81', 
																pagination : false, 
																navigation : true, 
																navigationText : [ "<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>" ] 
															} );
														} );
													</script>
													<div id="cmsms_owl_carousel_553e49e81fd81" class="cmsms_owl_slider cmsms_slider_553e49e81fd81">
														<div>
	<!--_________________________ Start Standard Article _________________________ -->
															<article class="post">
																<span class="cmsms_slider_post_format_img"></span>
																<div class="cmsms_slider_post_cont">
																	<figure class="cmsms_img_rollover_wrap preloader">
																		<img width="580" height="460" src="wp-content/uploads/2014/07/ec4.jpg" class="full-width" alt="The Ozone Layer" title="The Ozone Layer" />
																		<div class="cmsms_img_rollover">
																			<a href="img/images/ozon-full.jpg" data-rel="ilightbox[172_553e49e8225bb]" title="The Ozone Layer" class="cmsms_image_link">
																				<span class="cmsms-icon-search-7"></span>
																			</a>
																			<a href="open-post.html" title="The Ozone Layer" class="cmsms_open_link">
																				<span class="cmsms-icon-attach-6"></span>
																			</a>
																		</div>
																	</figure>
																	<header class="cmsms_slider_post_header entry-header">
																		<h3 class="cmsms_slider_post_title entry-title">
																			<a href="open-post.html">The Ozone Layer</a>
																		</h3>
																	</header>
																	<div class="cmsms_slider_post_cont_info entry-meta">
																		<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a>, <a href="open-post.html" rel="category tag">Home</a></span>
																	</div>
																	<div class="cmsms_slider_post_content entry-content"></div>
																	<footer class="cmsms_slider_post_footer entry-meta">
																		<div class="cmsms_slider_post_meta_info">
																			<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on The Ozone Layer">1</a>
																			<a href="#" onclick="return false;" id="cmsmsLike-172" class="cmsmsLike active cmsms-icon-heart-7"><span>1</span></a>
																			<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 20, 2014">July 20, 2014</abbr>
																			<abbr class="dn date updated" title="May 14, 2015">May 14, 2015</abbr>
																		</div>
																	</footer>	
																</div>
															</article>
	<!--_________________________ Finish Standard Article _________________________ -->
														</div>
														<div>
	<!--_________________________ Start Standard Article _________________________ -->
															<article class="post">
																<span class="cmsms_slider_post_format_img"></span>
																<div class="cmsms_slider_post_cont">
																	<figure class="cmsms_img_rollover_wrap preloader">
																		<img width="580" height="460" src="wp-content/uploads/2014/07/ec.jpg" class="full-width" alt="Spring Melody" title="Spring Melody" />
																		<div class="cmsms_img_rollover">
																			<a href="img/images/leaves-full.jpg" data-rel="ilightbox[169_553e49e82591d]" title="Spring Melody" class="cmsms_image_link">
																				<span class="cmsms-icon-search-7"></span>
																			</a>
																			<a href="open-post.html" title="Spring Melody" class="cmsms_open_link">
																				<span class="cmsms-icon-attach-6"></span>
																			</a>
																		</div>
																	</figure>
																	<header class="cmsms_slider_post_header entry-header">
																		<h3 class="cmsms_slider_post_title entry-title">
																			<a href="open-post.html">Spring Melody</a>
																		</h3>
																	</header>
																	<div class="cmsms_slider_post_cont_info entry-meta">
																		<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a>, <a href="open-post.html" rel="category tag">Home</a>
																		</span>
																	</div>
																	<div class="cmsms_slider_post_content entry-content"></div>
																	<footer class="cmsms_slider_post_footer entry-meta">
																		<div class="cmsms_slider_post_meta_info">
																			<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Spring Melody">0</a>
																			<a href="#" onclick="return false;" id="cmsmsLike-169" class="cmsmsLike active cmsms-icon-heart-7"><span>1</span></a>
																			<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 20, 2014">July 20, 2014</abbr>
																			<abbr class="dn date updated" title="August 6, 2014">August 6, 2014</abbr>
																		</div>
																	</footer>
																</div>
															</article>
	<!--_________________________ Finish Standard Article _________________________ -->
														</div>
														<div>
	<!--_________________________ Start Standard Article _________________________ -->
															<article class="post">
																<span class="cmsms_slider_post_format_img cmsms-icon-desktop-3"></span>
																<div class="cmsms_slider_post_cont">
																	<figure class="cmsms_img_rollover_wrap preloader">
																		<img width="580" height="460" src="wp-content/uploads/2014/07/ec9.jpg" class="full-width" alt="Save Tropic Forests" title="Save Tropic Forests" />
																		<div class="cmsms_img_rollover">
																			<a href="img/images/forest-full.jpg" data-rel="ilightbox[163_553e49e829368]" title="Save Tropic Forests" class="cmsms_image_link">
																				<span class="cmsms-icon-search-7"></span>
																			</a>
																			<a href="open-post.html" title="Save Tropic Forests" class="cmsms_open_link">
																				<span class="cmsms-icon-attach-6"></span>
																			</a>
																		</div>
																	</figure>
																	<header class="cmsms_slider_post_header entry-header">
																		<h3 class="cmsms_slider_post_title entry-title">
																			<a href="open-post.html">Save Tropic Forests</a>
																		</h3>
																	</header>
																	<div class="cmsms_slider_post_cont_info entry-meta">
																		<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Forest</a>, <a href="open-post.html" rel="category tag">Home</a>
																		</span>
																	</div>
																	<div class="cmsms_slider_post_content entry-content"></div>
																	<footer class="cmsms_slider_post_footer entry-meta">
																		<div class="cmsms_slider_post_meta_info">
																			<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Save Tropic Forests">0</a>
																			<a href="#" onclick="return false;" id="cmsmsLike-163" class="cmsmsLike active cmsms-icon-heart-7"><span>2</span></a>
																			<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 20, 2014">July 20, 2014</abbr>
																			<abbr class="dn date updated" title="July 21, 2014">July 21, 2014</abbr>
																		</div>
																	</footer>
																</div>
															</article>
	<!--_________________________ Finish Standard Article _________________________ -->
														</div>
														<div>
	<!--_________________________ Start Standard Article _________________________ -->
															<article class="post">
																<span class="cmsms_slider_post_format_img cmsms-icon-desktop-3"></span>
																<div class="cmsms_slider_post_cont">
																	<figure class="cmsms_img_rollover_wrap preloader">
																		<img width="580" height="460" src="wp-content/uploads/2014/07/ec10.jpg" class="full-width" alt="Bear Population" title="Bear Population" />
																		<div class="cmsms_img_rollover">
																			<a href="img/images/bear-full.jpg" data-rel="ilightbox[2000_553e49e82c73e]" title="Bear Population" class="cmsms_image_link">
																				<span class="cmsms-icon-search-7"></span>
																			</a>
																			<a href="open-post.html" title="Bear Population" class="cmsms_open_link">
																				<span class="cmsms-icon-attach-6"></span>
																			</a>
																		</div>
																	</figure>
																	<header class="cmsms_slider_post_header entry-header">
																		<h3 class="cmsms_slider_post_title entry-title">
																			<a href="open-post.html">Bear Population</a>
																		</h3>
																	</header>
																	<div class="cmsms_slider_post_cont_info entry-meta">
																		<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Animals</a>, <a href="open-post.html" rel="category tag">Home</a>
																		</span>
																	</div>
																	<div class="cmsms_slider_post_content entry-content"></div>
																	<footer class="cmsms_slider_post_footer entry-meta">
																		<div class="cmsms_slider_post_meta_info">
																			<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Bear Population">0</a>
																			<a href="#" onclick="return false;" id="cmsmsLike-2000" class="cmsmsLike active cmsms-icon-heart-7"><span>1</span></a>
																			<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 20, 2014">July 20, 2014</abbr>
																			<abbr class="dn date updated" title="July 21, 2014">July 21, 2014</abbr>
																		</div>
																	</footer>
																</div>
															</article>
	<!--_________________________ Finish Standard Article _________________________ -->
														</div>
														<div>
	<!--_________________________ Start Standard Article _________________________ -->
															<article class="post">
																<span class="cmsms_slider_post_format_img cmsms-icon-desktop-3"></span>
																<div class="cmsms_slider_post_cont">
																	<figure class="cmsms_img_rollover_wrap preloader">
																		<img width="580" height="460" src="img/images/Sunflower-Time-small.jpg" class="full-width" alt="Sunflower Time" title="Sunflower Time" />
																		<div class="cmsms_img_rollover">
																			<a href="wp-content/uploads/2014/07/ec1.jpg" data-rel="ilightbox[2209_553e49e82fbed]" title="Sunflower Time" class="cmsms_image_link">
																				<span class="cmsms-icon-search-7"></span>
																			</a>
																			<a href="open-post.html" title="Sunflower Time" class="cmsms_open_link">
																				<span class="cmsms-icon-attach-6"></span>
																			</a>
																		</div>
																	</figure>
																	<header class="cmsms_slider_post_header entry-header">
																		<h3 class="cmsms_slider_post_title entry-title">
																			<a href="open-post.html">Sunflower Time</a>
																		</h3>
																	</header>
																	<div class="cmsms_slider_post_cont_info entry-meta">
																		<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Fields</a>, <a href="open-post.html" rel="category tag">Home</a>
																		</span>
																	</div>
																	<div class="cmsms_slider_post_content entry-content"></div>
																	<footer class="cmsms_slider_post_footer entry-meta">
																		<div class="cmsms_slider_post_meta_info">
																			<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Sunflower Time">0</a>
																			<a href="#" onclick="return false;" id="cmsmsLike-2209" class="cmsmsLike active cmsms-icon-heart-7"><span>3</span></a>
																			<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 19, 2014">July 19, 2014</abbr>
																			<abbr class="dn date updated" title="July 21, 2014">July 21, 2014</abbr>
																		</div>
																	</footer>
																</div>
															</article>
	<!--_________________________ Finish Standard Article _________________________ -->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
													  <div class="greennature-page-title-wrapper ">
														  
														  <div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center"><h3 class="stunning-item-title" style="color:#414141;"><span translate='stat.Courante'>Statistiques de votre région courante:</span></h3><div class="stunning-item-caption greennature-skin-content">
</div></div></div>
			
			
		</div>
						
						<div id="cmsms_row_4" class="cmsms_row cmsms_color_scheme_default" data-stellar-background-ratio="0.5">
    <div class="cmsms_row_outer_parent">
     
		
			<div id="cmsms_row_555212697bbe6" class="cmsms_row cmsms_color_scheme_default" align="center">
                              <div class="cmsms_row_outer_parent">
                                <div class="cmsms_row_outer">
                                  <div class="cmsms_row_inner">
                                    <div class="cmsms_row_margin">
                                      <div class="cmsms_column one_first">
                                        
										  
										  
			  
										  <div class="greennature-stunning-item-ux greennature-ux"><div class="greennature-item greennature-stunning-item greennature-stunning-center">
											  
											  <div ng-controller="WeatherCtrl">
                                <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                                <h3 class="stunning-item-title">  {{ weather.temp.current | temp:2 }}</h3>
                               <h1> min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}</h1>
                            </div>
											  <div class="stunning-item-caption greennature-skin-content">
</div></div></div>
										  
										  
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
		
    </div>
  </div>
  <br/>
  <!-- start map + indice pollution-->
   <div id="scrolltomap"  class="cmsms_row cmsms_color_scheme_default" ng-controller="statController">
    <div  id="cmsms_row_555212697abbb" class="cmsms_row_outer_parent">
      <div  class="cmsms_row_outer">
        <div class="cmsms_row_inner">
          <div  class="cmsms_row_margin">
            <div class="cmsms_column one_half">

                <div id="place">  </div></div>
            <div class="cmsms_column one_half">

              <div class="cmsms_stats stats_mode_counters stats_type_circles stats_noborder">
                <h1 id="cmsms_heading_553e49e835edb" class="cmsms_heading" > <span translate='stat.vous'>Vous êtes à </span> {{region}} <i class="fa fa-map-marker" aria-hidden="true"></i> </h1>
                  
     <br/><h1 ><span translate='stat.class'> classement pollution de la zone: </span><span class="cmsms_stat_counter ">{{indice_region}}</span></h1>


                <div class="cmsms_stat_wrap one_fourth">
                  <div id="cmsms_stat_56be4d41888fb" class="cmsms_stat" data-percent="{{Indice_total}}" data-bar-color="#57cbe1">

                    <div class="cmsms_stat_inner">
                      <span class="cmsms_stat_title" translate='stat.air'>Pollution d'air à {{region}}</span>
                      <span class="cmsms_stat_counter_wrap">
<span class="cmsms_stat_counter">{{Indice_total}}</span><span class="cmsms_stat_units">%</span>
                      </span>
                    </div>
                  </div>
                </div>

              </div>


            </div>
            <div class="cmsms_column one_half">
              <h1 class="cmsms_stat_title" translate='stat.indice'>Indices de Pollution</h1>

              <div class="cmsms_stats stats_mode_bars stats_type_circles stats_noborder">

                <div class="cmsms_stat_wrap">
                  <div id="cmsms_stat_553e49e836051" class="cmsms_stat" data-percent="{{Indice_air}}">
                    <div class="cmsms_stat_inner">
                      <span class="cmsms_stat_title" translate='stat.air'>Air</span>
                      <span class="cmsms_stat_counter_wrap">
																	<span class="cmsms_stat_counter">
                     {{Indice_air}}</span><span class="cmsms_stat_units">%</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="cmsms_stat_wrap">
                  <div id="cmsms_stat_553e49e8360f4" class="cmsms_stat" data-percent="{{Indice_son}}">
                    <div class="cmsms_stat_inner">
                      <span class="cmsms_stat_title" translate='stat.son'>Son</span>
                      <span class="cmsms_stat_counter_wrap">
																	<span class="cmsms_stat_counter">
                     {{Indice_son}}</span><span class="cmsms_stat_units">%</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="cmsms_stat_wrap">
                  <div id="cmsms_stat_553e49e836189" class="cmsms_stat" data-percent="{{Indice_eau}}">
                    <div class="cmsms_stat_inner">
                      <span class="cmsms_stat_title" translate='stat.eau'>Eau</span>
                      <span class="cmsms_stat_counter_wrap">
																	<span class="cmsms_stat_counter">
                     {{Indice_eau}}</span><span class="cmsms_stat_units">%</span>
                      </span>
                    </div>
                  </div>
                </div>





              </div>



            </div>
			  
            </div>
            <div class="cmsms_column one_fourth"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

                
              <script>
                  
        map();
                 function map() {  
 var region  = "Ariana";
       localStorage.setItem('regi','hiii');
        var gouvernement;
   if (region =="Ariana"){
       gouvernement="t2";}
        if (region =="Tūnis"){
       gouvernement="t1";
        }
        console.log(region);
        console.log(gouvernement);

var width = 1000,
    height = 600,
    active = d3.select(null);



var path = d3.geo.path();

var svg = d3.select("#place").append("svg")
.attr("id", "map")
    .attr("width", width)
    .attr("height", height);

svg.append("rect")
    .attr("class", "background")
    .attr("width", width)
    .attr("height", height)
.attr("align", "center");

var g = svg.append("g")
    .style("stroke-width", "1.5px");

d3.json("map/tunisia.json", function(error, topology) {
  
  var featureCollection = topojson.feature(topology, topology.objects.governorates);

  var bounds = d3.geo.bounds(featureCollection);
  
  var centerX = d3.sum(bounds, function(d) {return d[0];}) /2,
      centerY = d3.sum(bounds, function(d) {return d[1];})/2;
 
  var projection = d3.geo.mercator()
    .scale(1000)
    .center([centerX, centerY]);
  
  path.projection(projection);
    
var i=0;
  g.selectAll("path")
      .data(featureCollection.features)
    .enter().append("path")
      .attr("d", path)
      .attr("class", "feature")
  .attr("id", function(d,i) { 
      i++;
      return "t"+i; });
    



  g.append("path")
      .datum(topojson.feature(topology, featureCollection.features, function(a, b) { return a !== b; }))
      .attr("class", "mesh")
      .attr("d", path);
});
       

$.fn.is_on_screen = function(){
    var element = this.get(0);
    var bounds = element.getBoundingClientRect();
    return bounds.top < window.innerHeight && bounds.bottom > 0;
};
 
if( $('#map').length > 0 ) { // if target element exists in DOM
	if( $('#map').is_on_screen()) { // if target element is visible on screen after DOM loaded
  g.select("path#"+gouvernement).attr("function", map);
	} else {
  g.select("path#"+gouvernement).attr("function", reset);
	}
}
$(window).scroll(function(){ // bind window scroll event
	if( $('#map').length > 0 ) { // if target element exists in DOM
		if( $('#map').is_on_screen() ) { // if target element is visible on screen after DOM loaded
  g.select("path#"+gouvernement).attr("function", map);
		} else {
  g.select("path#"+gouvernement).attr("function", reset);
		}
	}
});
    
function map(d){
  active.classed("active", false);
  active = d3.select(this).classed("active", true);

  var bounds = path.bounds(d),
      dx = bounds[1][0] - bounds[0][0],
      dy = bounds[1][1] - bounds[0][1],
      x = (bounds[0][0] + bounds[1][0]) / 2,
      y = (bounds[0][1] + bounds[1][1]) / 2,
      scale = .1 / Math.max(dx / width, dy / height),
      translate = [width / 3 - scale * x, height / 4 - scale * y];

  g.transition()
      .duration(3000)
      .style("stroke-width", 2 / scale + "px")
      .attr("transform", "translate(" + translate + ")scale(" + scale + ")");
    
    }
function reset(){
    active.classed("active", false);
  active = d3.select(null);

  g.transition()
      .duration(500)
      .style("stroke-width", "1.5px")
      .attr("transform", "");
}
    

}
    </script>
    <style>

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #bac2b9;
  cursor: pointer;
}

.feature.active {
  fill: #0ea6f4;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.2px;
}

path:hover {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

</style>
    </div>

          
    
    <!-- fin map-->



          </div>


        </div>
      </div>
    </div>
  </div>




	<div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay" ></div>

<div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container" >
	<div class="greennature-payment-lightbox-inner" >
		<form class="greennature-payment-form" id="greennature-payment-form" data-ajax="http://demo.goodlayers.com/greennature/wp-admin/admin-ajax.php" >
			<h3 class="greennature-payment-lightbox-title">
				<span class="greennature-head">You are donating to :</span>
				<span class="greennature-tail">Greennature Foundation</span>
			</h3>
			
			<div class="greennature-payment-amount" >
				<div class="greennature-payment-amount-head" >How much would you like to donate?</div>
				<a class="greennature-payment-price-preset greennature-active" data-val="10" >$10</a>
				<a class="greennature-payment-price-preset" data-val="20" >$20</a>
				<a class="greennature-payment-price-preset" data-val="30" >$30</a>
				<input class="greennature-payment-price-fill" type="text" placeholder="Or Your Amount(USD)" />
				<input class="greennature-payment-price" type="hidden" name="amount" value="10" />
				
								<input class="greennature-payment-price" type="hidden" name="a3" value="10">
							</div>
			
						<div class="greennature-paypal-attribute">
				<span class="greennature-head">Would you like to make regular donations?</span>
				<span class="greennature-subhead">I would like to make </span>
				<select name="t3" class="greennature-recurring-option" >
					<option value="0">one time</option>
					<option value="W">weekly</option>
					<option value="M">monthly</option>
					<option value="Y">yearly</option>
				</select>
				<span class="greennature-subhead" >donation(s)</span>
				
				<div class="greennature-recurring-time-wrapper">
					<span class="greennature-subhead" >How many times would you like this to recur? (including this payment) *</span>
					<select name="p3" class="greennature-recurring-option">
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</div>
				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="bn" value="PP-BuyNowBF">
				<input type="hidden" name="src" value="1">
				<input type="hidden" name="sra" value="1">				
			</div>
						
			<div class="greennature-form-fields">
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Name *</span>
						<input class="greennature-require" type="text" name="name">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Last Name *</span>
						<input class="greennature-require" type="text" name="last-name">
					</div>
				</div>
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Email *</span>
						<input class="greennature-require greennature-email" type="text" name="email">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Phone</span>
						<input type="text" name="phone">
					</div>
				</div>		
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Address</span>
						<textarea name="address"></textarea>
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Additional Note</span>
						<textarea name="additional-note"></textarea>
					</div>
				</div>		
				<div class="clear"></div>
			</div>		
			
			<div class="greennature-payment-method" >
			<img class="greennature-active" src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/images/paypal.png" alt="paypal" /><img  src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/images/stripe.png" alt="stripe" /><input type="hidden" name="payment-method" value="paypal" />			</div>		
			<div class="greennature-message"></div>
			<div class="greennature-loading">Loading...</div>
			<input type="submit" value="Donate Now" /> 
		</form>
	</div>		
</div>	


<script type="text/javascript"></script><script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>



<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/gdlr-script.js?ver=1.0'></script>




  <!-- end map -->
  
  
  
  <!--_________________________ Start map generale  _________________________ -->


  <!-- _________________________ Finish Content _________________________ -->
</div>

<!-- _________________________ Finish Page _________________________ -->
			<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
			</div>
	<!-- _________________________ Finish Main _________________________ -->
	
	<!-- _________________________ Finish Footer _________________________ -->
		</div>
	<!-- _________________________ Finish Page _________________________ -->
		<script type='text/javascript' src='LayerSlider/js/layerslider.kreaturamedia.jquery.js'></script>
		<script type='text/javascript' src='LayerSlider/js/greensock.js'></script>
		<script type='text/javascript' src='LayerSlider/js/layerslider.transitions.js'></script>
		<script type='text/javascript' src='js/jsLibraries.min.js'></script>
		<script type='text/javascript' src='js/jquery.iLightBox.min.js'></script>
		<script type='text/javascript' src='js/jqueryLibraries.min.js'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
			var cmsms_script = {
				"ilightbox_skin":"dark",
				"ilightbox_path":"vertical",
				"ilightbox_infinite":"0",
				"ilightbox_aspect_ratio":"1",
				"ilightbox_mobile_optimizer":"1",
				"ilightbox_max_scale":"1",
				"ilightbox_min_scale":"0.2",
				"ilightbox_inner_toolbar":"0",
				"ilightbox_smart_recognition":"0",
				"ilightbox_fullscreen_one_slide":"0",
				"ilightbox_fullscreen_viewport":"center",
				"ilightbox_controls_toolbar":"1",
				"ilightbox_controls_arrows":"0",
				"ilightbox_controls_fullscreen":"1",
				"ilightbox_controls_thumbnail":"1",
				"ilightbox_controls_keyboard":"1",
				"ilightbox_controls_mousewheel":"1",
				"ilightbox_controls_swipe":"1",
				"ilightbox_controls_slideshow":"0",
				"ilightbox_close_text":"Close",
				"ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)",
				"ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)",
				"ilightbox_slideshow_text":"Slideshow",
				"ilightbox_next_text":"Next",
				"ilightbox_previous_text":"Previous",
				"ilightbox_load_image_error":"An error occurred when trying to load photo.",
				"ilightbox_load_contents_error":"An error occurred when trying to load contents.",
				"ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."
			};
		/* ]]> */
		</script>
		<script type='text/javascript' src='js/jquery.easing.min6f3e.js?ver=1.3.0'></script>
		<script type='text/javascript' src='js/jquery.script.js'></script>
		<script type='text/javascript' src='js/jquery.tweet.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.mode.js'></script>
	</div>
