
<body class="page page-id-349 page-template-default">

    
    
    
    
    
    
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff; 
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		label,p{
		color:white;
		}
    </style>
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<h1 id="cmsms_heading_56be4d92effeb" class="cmsms_heading">Ajoutez votre article</h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
    
    
    
    
    
    <div id="cmsms_row_56be4d9d8de1c" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<h3 id="cmsms_heading_56be4d9d8e1b4" class="cmsms_heading">Zone Blogs</h3><div class="cmsms_text">
<p>La zone Blog permet aux associations de se rapprocher à ses membres en partageant des articles et des actualités concernant l'association, ces activités et l’environnement...</p>
<p>Ici, en tant que membre d'une association certifiée, vous pouvez créer et partager votre article.</p>
</div>
<div id="cmsms_divider_56be4d9d8e394" class="cmsms_divider solid"></div>
<h3 id="cmsms_heading_56be4d9d8e44b" class="cmsms_heading" translate="blog.add">Créer votre article</h3>
<div class="cmsms_contact_form"><div class="cmsms-form-builder">
<div class="cmsms_notice cmsms_notice_success cmsms_theme_icon_check success_box" style="display:none;">
<div class="notice_icon"></div>
<div class="notice_content">
<p>Thank You! <br />Your message has been sent successfully.</p>
</div>
</div>
<!--<script type="text/javascript"> 
jQuery(document).ready(function () { 
	jQuery('#form_2628').validationEngine('attach', { 
		promptPosition : 'topRight', 
		scroll : false, 
		autoPositionUpdate : true, 
		showArrow : false 
		} ); 
	jQuery('#form_2628 a#cmsms_2628_formsend').click(function () { 
		jQuery('#form_2628 .loading').animate( { opacity : 1 } , 250); 
		if (jQuery('#form_2628').validationEngine('validate')) { 
			jQuery.post('/app/wp-content/plugins/cmsms-contact-form-builder/inc/form-builder-sendmail.html', { 
				cmsms_your_email : jQuery('#cmsms_your_email').val(), 
				cmsms_your_message : jQuery('#cmsms_your_message').val(), 
				contactemail : 'MjYyOHxzYW1wbGVAc2FtcGxlLnNhbXwyNjI4', 
				formname : '2628' 
			}, function (data) { 
				jQuery('#form_2628 .loading').animate( { opacity : 0 } , 250); 
				jQuery('#form_2628').fadeOut('slow'); 
				document.getElementById('form_2628').reset(); 
				jQuery('#form_2628').parent().find('.box').hide(); 
				jQuery('#form_2628').parent().find('.success_box').fadeIn('fast'); 
				jQuery('html, body').animate( { scrollTop : jQuery('#form_2628').offset().top - 140 } , 'slow'); 
				jQuery('#form_2628').parent().find('.success_box').delay(5000).fadeOut(1000, function () { 
					jQuery('#form_2628').fadeIn('slow'); 
				} ); 
			} ); 
			return false; 
		} else { 
			jQuery('#form_2628 .loading').animate( { opacity : 0 } , 250); 
			return false; 
		} 
	} ); 
} ); 
</script>-->
    <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://bledi--ndhifa.herokuapp.com/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#data")).scope();
        scope.addBlog(scope.title, scope.Description, returndata,function(){
        alert("Votre article a été ajouté.");
        window.location = "#/blog";
    });
    }
                      
  });
 
  return false;
});
    
    </script>
    
<form ng-controller="addBlogController" id="data">
<input type="text" id="created" ng-model="image_id" hidden/>
<div class="form_info cmsms_input">
	<label for="cmsms_your_email" translate="Conc.Titre">Titre<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200" name="title" ng-model="title" required>
	</div>
</div>
    <div class="form_info cmsms_input">
		 		<label for="cmsms_your_email">Image<span class="color_2">*</span></label>
		 		<div class="form_field_wrap">
		 			<input type="file" size="200" name="file" class="form-control" required>
		 		</div>
		 	</div>
    
      <!--<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Upload an Image
		</h3>
	</div>
	<form action="http://bledi--ndhifa.herokuapp.com/images/aj"  method ="post" enctype="multipart/form-data">
		 <div class="panel-body form-horizontal">
		 	<div class="form-group col-md-12">
		 		<label for="thumbnail" class="col-sm-2 controler-label">Browse:</label>
		 		<div class="col-md-10">
		 			<input type="file" name="file" class="form-control">
		 		</div>
		 	</div>
		 	<div class="form-group col-md-12">
		 		<label for="title" class="col-sm-2 controler-label">Title:</label>
		 		<div class="col-md-10">
		 			<input type="text" name="title" class="form-control">
		 		</div>
		 	</div>
		
		 	<div class="form-group col-md-12">
		 		<div class="col-md-12 text-right">
		 			<button type="submit" id="login-btn" class="btn btn-success" type="button" value="post"><i class="fa fa-loud-upload"></i>Upload Image</button>
		 		</div>
		 	</div>

		 </div>
	</form>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Newest Images
			</h3>
		</div>
		<div class="panel-body">
			
			<div class="col-md-4 text-center" style="padding-bottom: 1em;">
				<a href="/images/{{uniqueId}}"><img src="/public/uploads/{{link}}" alt="{{title}}" style="width: 175px; height:175px;" class="img-thumbnail"></a>
			</div>
		
		</div>
	</div>
</div>  
-->

<div class="form_info cmsms_textarea">
	<label for="cmsms_your_message" translate="blog.cont">Contenu<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<textarea cols="200" rows="10" ng-model="Description" required></textarea>
	</div>
</div>
<div class="cl"></div>
<div class="loading"></div>
<div class="form_info submit_wrap">
    <input class="btn btn-primary pull-right" type="submit" value="{{'Conc.Valider' | translate}}" >
			
</div>
<div class="cl"></div>
</form>
    
        <!--<form ng-controller="addBlogController" class="form-horizontal col-sm-offset-1">
							<div class="form-group">
								<textarea class="form-control" ng-model="title"></textarea>
							</div>
            <div class="form-group">
								<textarea class="form-control" ng-model="Description"></textarea>
							</div>
							<input class=" pull-right btn btn-default" type="submit" value="Comment" ng-click="addBlog()">
                                   ngclick="addComment(topic.post.indexOf(post))"
						</form>-->
    
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="cl"></div><section class="content_wrap fullwidth">

<div class="middle_content entry" role="main">
	</div>
<!-- _________________________ Finish Content _________________________ -->

</section>
</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->


    
    
    
     </div></div></div></div></div></div></div>
</div>
<!-- _________________________ Finish Page _________________________ -->

</body>
