<div class="commenter-container panel-body">
  <form name="form" ng-submit="commenter()" class="form-inline" ng-hide="toggled">
    <div class="form-group">
      <input ng-model="child.name" class="form-control" placeholder="github username"
             ng-keydown="selected=false" type="text" required />
      <typeahead class="typeahead" model="items" prompt="Start typing a US state" />
    </div>
    <div class="form-group">
      <textarea ng-model="child.text" value="your comment.." class="form-control" rows="1"
                ng-minlength="5" required></textarea>
    </div>
    <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
  <span class="label pull-right pointer" ng-click="toggle()"
        ng-class="{'label-success': toggled, 'label-warning': !toggled}">{{ btnText }}</span>
</div>

