
<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />


<link rel='stylesheet' href='Project/css/avgrund.css' type='text/css' media='all' />
<link rel='stylesheet' href='Project/css/style.css' type='text/css' media='all' />
<body  class="home page page-id-5680 page-template-default _masterslider _msp_version_2.29.0">
<div class="greennature-page-title-wrapper header-style-5-title-wrapper">
			<div class="greennature-page-title-overlay"></div>
			<div class="greennature-page-title-container container">
				<h1 class="greennature-page-title">Donation</h1>
								
							</div>	
		</div>

<div id="box" style="background:url(img/act-bg.jpg)"> <div id="content"> 
		<form  >
			<h3 class="greennature-payment-lightbox-title">
			
				<span class="greennature-tail"> Projet: {{project.projectName}}</span>
			</h3>
			
			<div class="greennature-payment-amount" >
				<div class="greennature-payment-amount-head" >le projet a besoin de :</div>
		<a class="greennature-payment-price-preset greennature-active" data-val="{{project.estimation_price}}" > {{price}}</a>DT
				<input class="greennature-payment-price-fill" type="text" placeholder="Montant(DT)" />
				<input class="greennature-payment-price" type="hidden" name="amount" value="10" />
				<input class="greennature-payment-price" type="hidden" name="a3" value="10">
							</div>
			
						<div class="greennature-paypal-attribute">
				<span class="greennature-head">Aimeriez-vous faire des dons réguliers?</span>
				<span class="greennature-subhead">Je voudrais que la donation se fait: </span>
				<select name="t3" class="greennature-recurring-option" >
					<option value="0">tous les jours</option>
					<option value="W">chaque semaine </option>
					<option value="M">chaque mois</option>
					<option value="Y">une fois par an</option>
				</select>
				<span class="greennature-subhead" >donation(s)</span>
				
								
			</div>
						
			<div class="greennature-form-fields">
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Nom *</span>
						<input class="greennature-require" type="text" name="name">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Prénom *</span>
						<input class="greennature-require" type="text" name="last-name">
					</div>
				</div>
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Votre adresse email *</span>
						<input class="greennature-require greennature-email" type="text" name="email">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Numéro de téléphone</span>
						<input type="text" name="phone">
					</div>
				</div>		
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Votre adresse</span>
						<textarea name="address"></textarea>
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Note complémentaire</span>
						<textarea name="additional-note"></textarea>
					</div>
				</div>		
				<div class="clear"></div>
			</div>		
			
			<fieldset>
    
     <legend style="color:white"> Virement bancaire</legend>
      <img src="img/visa.gif" />
	<br>
	<br>
	<ul>
      <li>
        <label for=numero_de_carte>Numéro de carte</label>
        <input id=numero_de_carte name=numero_de_carte type=number required>
      </li>
      <li>
        <label for=securite>Code sécurité</label>
        <input id=securite name=securite type=number required>
      </li>
      <li>
        <label for=nom_porteur>Nom du porteur</label>
        <input id=nom_porteur name=nom_porteur type=text placeholder="Même nom que sur la carte" required>
      </li>
    </ul>
  </fieldset>
			<hr>
		
			<div class="greennature-payment-method" >
			<img class="greennature-active" src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/images/paypal.png" alt="paypal" />
			
    <paypal-button business="rim.methni@esprit.tn" language-code="it_IT" currency-code="EUR" item-name="My nice item description" amount="100"></paypal-button>
			</div>		
						
 <br>
 <br>
			

			
			
			
			<input type="submit" value="Donate Now " /> 
			<br/>
		</form>
	</div>	
	
	</div>
	
</body>
 <!-- body-wrapper -->
<script type="text/javascript"></script><script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>



<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/gdlr-script.js?ver=1.0'></script>

