<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >


   <script>
   //Program a custom submit function for the form
$("form#datas").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://localhost:3000/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
      success: function (returndata) {
      
      $('#created').val(returndata);
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#datas")).scope();
        scope.sponsoriser(scope.sponsor.entreprise, scope.sponsor.RIB,returndata,function(){
        window.location = "#/sponsor";
    });
    }
                      
  });
 
  return false;
});
    </script>
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff;
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
			
			
			
} 
		
		label,p{
		color:white;
		}
		
    </style>

<h1 id="cmsms_heading_56be4d92effeb" >Sponsoriser un projet {{project.projectName}}</h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
{{error}}
     <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://localhost:3000/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#data")).scope();
        scope.register(scope.user, returndata,function(){
    });
    }
                      
  });
 
  return false;
});
    
    </script>
	<style>
	.fort   { color: #060; border-color: #0F0;}
.mediocre   { color: #C60; border-color: #FC0;}
.faible    { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}
	
	</style>

<form   id="datas"  ng-upload enctype="multipart/form-data" >

	
		<label for="titre">Nom de votre société</label>
	<br>
	<input type="text" name="entreprise" placeholder="Nom de votre société" id="user"  class="form-control" title="Username" ng-value="{{sponsor.entreprise}}" ng-model="sponsor.entreprise"  required>
	<br>

<label> Logo (Url)</label>
	<br>
	<br>
			<input type="file" size="200" name="file" class="form-control" required>

<!--<input type="text"  class="register user" ng-value="{{sponsor.logo}}" ng-model="sponsor.logo" />-->
	<label>Votre Adresse email </label>
	<br>
	<input type="email"   class="form-control" ng-model="sponsor.mail"  required />
	<br>

	<br>

<fieldset>
    
     <legend style="color:white">Virement bancaire</legend>
      <img src="img/visa.gif" />
	<br>
	
	<ul>
      <li>
        <label for=numero_de_carte>RIB</label>
        <input id="numero_de_carte" name="RIB" type="text" ng-model="sponsor.RIB" required>
      </li>
     
    </ul>
	<div class="form-group">
                    <label>Captcha*</label>
                    <div re-captcha ng-model="user.captcha"></div>
                </div>
  </fieldset>
	
	<input type="submit" value=" sponsoriser ce projet" class="btn_register" > </form> </div> </div> 
</div> </div>
	

	
	</div>
	</div>