
<section class="content_wrap fullwidth profile_page" ng-controller="ProfileCtrl">

<!--_________________________ Start Content _________________________ -->
<div class="middle_content entry" role="main">
	<div class="profiles opened-article">

<!--_________________________ Start Standard Profile _________________________ -->

<article id="post-2476" class="post-2476 profile type-profile status-publish has-post-thumbnail hentry">
	<div class="profile_content with_sidebar"><figure><a href="" title="{{user.username}}" class="cmsms_img_link preloader highImg" rel="ilightbox[img_2476_56be4f0aab6ab]"><img width="820" height="490" src="http://bledi--ndhifa.herokuapp.com/uploads/{{user.image_id.link}}" class="full-width wp-post-image" alt="{{user.username}}" title="{{user.username}}" /></a></figure><div class="cmsms_profile_content entry-content">
<style type="text/css"></style>
<div class="cl"></div></div></div><div class="profile_sidebar"><div class="profile_details entry-meta"><h2 class="profile_details_title">Mon Profile</h2>
    
    <div class="profile_details_item">
    <div class="profile_details_item_title">Nom d'utilisateur</div><div class="profile_details_item_desc">{{user.username}}</div></div>
    <div class="profile_details_item">
    <div class="profile_details_item_title">Nom</div><div class="profile_details_item_desc">{{user.lastName}}</div></div>
    <div class="profile_details_item">
    <div class="profile_details_item_title">Prénom</div><div class="profile_details_item_desc">{{user.firstName}}</div></div>
    <div class="profile_details_item">
    <div class="profile_details_item_title">Email</div><div class="profile_details_item_desc">{{user.email}}</div></div>
    <div class="profile_details_item">
    <div class="profile_details_item_title"><button type="submit" ng-click="logout()" class="btn  btn-block" style="background-color:#5DC269;color:white;font-weight:bold">Se déconnecter</button>
		
		
		<br/>
</div></div>
    </div>
    <div class="profile_social_icons"><h2 class="profile_social_icons_title">Socials</h2><ul class="profile_social_icons_list"><li><a href="#" class="cmsms-icon-twitter-circled" title=""></a></li><li><a href="#" class="cmsms-icon-facebook-circled" title=""></a></li><li><a href="#" class="cmsms-icon-gplus-circled" title=""></a></li><li><a href="#" class="cmsms-icon-linkedin-circled" title=""></a></li><li><a href="#" class="cmsms-icon-vimeo-circled" title=""></a></li></ul></div></div>	<div class="cl"></div>
</article>

</section>