
<head>
		
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		
		<style type="text/css">
			.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
				overflow-y:auto;
			}

			.header_mid_inner .logo {
				position:static;
			}
			#footer.cmsms_footer_default .footer_inner {
				min-height:450px;
			}
			
			.fixed_footer #main {
				margin-bottom:450px;
			}
		</style>
	</head>
	<body>
	<!-- _________________________ Start Page _________________________ -->
		<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site">
		<!-- _________________________ Start Main _________________________ -->
			<div id="main">
			<!-- _________________________ Start Header _________________________ -->
				

				
			<!-- _________________________ Start Middle _________________________ -->
				<div id="middle">
					<div class="cmsms_breadcrumbs">
						
					</div>
					<div class="middle_inner">
						<div class="content_wrap fullwidth project_page">
						<!--_________________________ Start Content _________________________ -->
							<div class="middle_content entry" role="main">
								<div class="portfolio opened-article">
						<!--_________________________ Start Standard Project _________________________ -->
									<article  class="project type-project format-standard hentry pj-categs-puzzle" ng-controller="imageController">
										<header class="cmsms_project_header entry-header">
											<h1 class="cmsms_project_title entry-title">{{image.title}}</h1>
										</header>
										<div class="project_content with_sidebar">
											<figure>
												<a href="#" title="Bee &amp; Sunflower" class="cmsms_img_link preloader highImg" data-rel="ilightbox[img_2251_554b7d4ca293a]">
													<img width="820" height="1300" src="http://localhost:3000/uploads/{{image.link}}" alt="Bee &amp; Sunflower" title="Bee &amp; Sunflower" />
												</a>
											</figure>
											<div class="cmsms_project_content entry-content">
												<div class="cl"></div>
											</div>
										</div>
										<div class="project_sidebar">
											<div class="project_details entry-meta">
												<h2 class="project_details_title">Project details</h2>
												<div class="project_details_item">
													<div class="project_details_item_title">Like:</div>
													<div class="project_details_item_desc">
														<a href="#" onclick="return false;" id="cmsmsLike-2251" class="cmsmsLike active cmsms-icon-heart-7"><span>{{image.votes}}</span></a>
													</div>
												</div>
												<div class="project_details_item">
													<div class="project_details_item_title">Date:</div>
													<div class="project_details_item_desc"><abbr class="published cmsms_project_date" title="July 21, 2014">{{image.upload_date | date: 'dd-MM-yyyy HH:mm'}}</abbr></div>
												</div>
												
												<div class="project_details_item">
													<div class="project_details_item_title">Author:</div>
													<div class="project_details_item_desc vcard author" ng-repeat=" lik in image.likers">
														<span class="cmsms_project_author fn" title="Projects by backdoor" rel="author">{{lik.username}}</span>
													</div>
												</div>
                                               
    <aside class="related_posts">
										
										<ul>
											<li><a href="#" class="current">Likers</a></li>
											
										</ul>
										<div class="related_posts_content"  >
											<div class="related_posts_content_tab" style="display:block;" >
												<div class="one_half" ng-repeat=" lik in image.likers" >
													<div class="rel_post_content">
														<figure class="quote_image">
															<a href="#" title="Downshifting">
																<img width="100" height="26" src="img/images/Downshifting-thumb.jpg" class="attachment-100x100" alt="Downshifting" title="Downshifting" style="width:100px; height:100px;" />
															</a>
														</figure>
                                                
														<h5>
															<a href="#" title="Downshifting">{{lik.name}}</a>
														</h5>
													</div>
												</div>
												
												
												
												
												<div class="cl"></div>
											</div>
											
										</div>
									</aside>                                     
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
											</div>
											<aside class="share_posts">
												<h2 class="share_posts_title">Like this picture?</h2>
                                                            
<script>
   /*  $("#btnSubmit").on("click", function(e){
          e.PreventDefault();
          $(this).closest("form")[0].submit();
          $(this).prop('disabled',true)
     });
    */
$('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
    
</script>
	<button id="btnsubmit" class="btn btn-success" ng-click="upVoteimg()" ng-disabled="$storage.hasLiked">&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button>									
												<div class="fl share_posts_item">
													<div class="g-plusone" data-size="medium"></div>
	
                                                    
                                                    
                                                    
                                                    
                                                    <script type="text/javascript">
														(function () { 
															var po = document.createElement('script'), 
																s = document.getElementsByTagName('script')[0];
															
															po.type = 'text/javascript';
															po.async = true;
															po.src = '../apis.google.com/js/plusone.js';
															
															s.parentNode.insertBefore(po, s);
														} )();
													</script>
												</div>
												<div class="fl share_posts_item">
													<a href="#" class="pin-it-button">
														<img src="../assets.pinterest.com/images/PinExt.png" title="Pin It" alt="" />
													</a>
													<script type="text/javascript">
														(function (d, s, id) { 
															var js = undefined, 
																fjs = d.getElementsByTagName(s)[0];
															
															if (d.getElementById(id)) { 
																d.getElementById(id).parentNode.removeChild(d.getElementById(id));
															}
															
															js = d.createElement(s);
															js.id = id;
															js.src = '../assets.pinterest.com/js/pinit.js';
															
															fjs.parentNode.insertBefore(js, fjs);
														} (document, 'script', 'pinterest-wjs'));
													</script>
												</div>
												<div class="fl share_posts_item">
													<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="arial"></div>
													<script type="text/javascript">
														(function (d, s, id) { 
															var js = undefined, 
																fjs = d.getElementsByTagName(s)[0];
															
															if (d.getElementById(id)) { 
																d.getElementById(id).parentNode.removeChild(d.getElementById(id));
															}
															
															js = d.createElement(s);
															js.id = id;
															js.src = '../connect.facebook.net/en_US/all.js#xfbml=1';
															
															fjs.parentNode.insertBefore(js, fjs);
														} (document, 'script', 'facebook-jssdk'));
													</script>
												
													 <div class="share-box detail-info-entry" ng-controller="SocialConcourCtrl">
                                                     <div class="title">Share in social media </div>

                                            <div 
                                            ng-social-buttons 
                                            data-url="data_url"
                                            data-title="current_title"
                                            data-description="current_description"
                                            data-image="data_image"
                                            showcounts="false">

                                                        <a class="ng-social-facebook">Facebook</a>
                                                        <a class="ng-social-google-plus">Google+</a>
                                                        <a class="ng-social-pinterest">pinterest</a>

                                                    </div>
                                                    <div class="clear"></div>
                                                      </div>
												
												</div>
											<!--	<div class="fl share_posts_item" ng-controller="SocialConcourCtrl">
													<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-share="data_image" data-show-faces="true" data-font="arial"></div>
												
												</div>-->
												<div class="cl"></div>
											</aside>
										</div>	
										<div class="cl"></div>
									</article>
						<!--_________________________ Finish Standard Project _________________________ -->
	
				
                                                                    
                                    
                
								</div>
							</div>
						<!-- _________________________ Finish Content _________________________ -->
						</div>
					</div>
				</div>
			<!-- _________________________ Finish Middle _________________________ -->
			<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a></div>
		<!-- _________________________ Finish Main _________________________ -->
		
		</div>
	<!-- _________________________ Finish Page _________________________ -->
		<script type='text/javascript' src='js/jsLibraries.min.js'></script>
		<script type='text/javascript' src='js/jquery.iLightBox.min.js'></script>
		<script type='text/javascript' src='js/jqueryLibraries.min.js'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
			var cmsms_script = {
				"ilightbox_skin":"dark",
				"ilightbox_path":"vertical",
				"ilightbox_infinite":"0",
				"ilightbox_aspect_ratio":"1",
				"ilightbox_mobile_optimizer":"1",
				"ilightbox_max_scale":"1",
				"ilightbox_min_scale":"0.2",
				"ilightbox_inner_toolbar":"0",
				"ilightbox_smart_recognition":"0",
				"ilightbox_fullscreen_one_slide":"0",
				"ilightbox_fullscreen_viewport":"center",
				"ilightbox_controls_toolbar":"1",
				"ilightbox_controls_arrows":"0",
				"ilightbox_controls_fullscreen":"1",
				"ilightbox_controls_thumbnail":"1",
				"ilightbox_controls_keyboard":"1",
				"ilightbox_controls_mousewheel":"1",
				"ilightbox_controls_swipe":"1",
				"ilightbox_controls_slideshow":"0",
				"ilightbox_close_text":"Close",
				"ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)",
				"ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)",
				"ilightbox_slideshow_text":"Slideshow",
				"ilightbox_next_text":"Next",
				"ilightbox_previous_text":"Previous",
				"ilightbox_load_image_error":"An error occurred when trying to load photo.",
				"ilightbox_load_contents_error":"An error occurred when trying to load contents.",
				"ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."
			};
		/* ]]> */
		</script>
		<script type='text/javascript' src='js/jquery.easing.min6f3e.js?ver=1.3.0'></script>
		<script type='text/javascript' src='js/jquery.script.js'></script>
		<script type='text/javascript' src='js/jquery.tweet.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.mode.js'></script>
	</body>

