
<body class="page page-id-349 page-template-default">

    
    
    
    
    
    
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff; 
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		label,p{
		color:white;
		}
    </style>
    
    <div id="cmsms_row_56be4d9d8de1c" class="cmsms_row cmsms_color_scheme_default"  >
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_divider_56be4d9d8e394" class="cmsms_divider solid"></div>
<h3 id="cmsms_heading_56be4d9d8e44b" class="cmsms_heading">Créer votre article</h3>
<div class="cmsms_contact_form"><div class="cmsms-form-builder">
<div class="cmsms_notice cmsms_notice_success cmsms_theme_icon_check success_box" style="display:none;">
<div class="notice_icon"></div>
<div class="notice_content">
<p>Thank You! <br />Your message has been sent successfully.</p>
</div>
</div>

    <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://bledi--ndhifa.herokuapp.com/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      
      var scope = angular.element($("#data")).scope();
        scope.addEvent(scope.nameEvent, scope.region,scope.typeEvent,returndata,scope.description,scope.startDate,scope.endDate,function(){
console.log("dddddddddd");
        
    });
    }
                      
  });
 
  return false;
});
    
    </script>
    
<form ng-controller="addEventController" id="data">
<input type="text" id="created" ng-model="image_id" hidden/>
<div class="form_info cmsms_input">
	<label for="cmsms_your_email">Titre<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200"  ng-model="nameEvent" required>
	</div>
</div>
<div class="form_info cmsms_input">
	<label for="cmsms_your_email">region<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<!--<input type="text" size="200"  ng-model="region" required>-->
        <select ng-model="region">
  <option value="Tūnis">Tūnis</option>
  <option value="Nabeul">Nabeul</option>
  <option value="Gabes">Gabes</option>
  <option value="Ariana">Ariana</option>
</select>
	</div>
</div>
<div class="form_info cmsms_input">
	<label for="cmsms_your_email">Type event<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200"  ng-model="typeEvent" required>
	</div>
</div>

<div class="form_info cmsms_input">
		 		<label for="cmsms_your_email">Image<span class="color_2">*</span></label>
		 		<div class="form_field_wrap">
		 			<input type="file" size="200" name="file" class="form-control" required>
		 		</div>
		 	</div>
    
 

<div class="form_info cmsms_textarea">
	<label for="cmsms_your_message">Description<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<textarea cols="200" rows="10" ng-model="description" required></textarea>
	</div>
</div>
  
    
<!--<div class="form_info cmsms_input">
	<label for="cmsms_your_email">Date de  debut<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200"  ng-model="startDate" required>
	</div>
</div>-->
<!--    <div class="form_info cmsms_input">
	<label for="cmsms_your_email">Date de  fin<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200"  ng-model="endDate" required>
	</div>
</div>-->    
    
<!--<datetimepicker ng-model="startDate"
                        datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
<datetimepicker ng-model="endDate"
                        datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>-->
  <div class="form_info cmsms_input">  
    
    <style>
  .party{color:indianred}
</style>
	<label for="cmsms_your_email">Date de  debut<span class="color_2">*</span></label> <br>
<input ng-model="startDate" id="datetimepicker"   />

  
   

<script>
  $("#datetimepicker").kendoDateTimePicker({
    value: new Date(),
    month: {
      content: $("#cell-template").html()
    },
    dates: [
      new Date(2016, 01, 01),
      new Date(2020, 01, 01)
    ] //can manipulate month template depending on this array.
  });

  function isInArray(date, dates) {
    for(var idx = 0, length = dates.length; idx < length; idx++) {
      var d = dates[idx];
      if (date.getFullYear() == d.getFullYear() &&
          date.getMonth() == d.getMonth() &&
          date.getDate() == d.getDate()) {
        return true;
      }
    }

    return false;
  }

</script>
    
 </div>    
  
    <div class="form_info cmsms_input">  
    
    <style>
  .party{color:red}
</style>

<label for="cmsms_your_email">Date de  fin<span class="color_2">*</span></label> <br>        
<input id="datetimepicker1"  ng-model="endDate"/>

  
 

<script>
  $("#datetimepicker1").kendoDateTimePicker({
    value: new Date(),
    month: {
      content: $("#cell-template").html()
    },
    dates: [
      new Date(2016, 01, 01),
      new Date(2020, 01, 01)
    ] //can manipulate month template depending on this array.
  });

  function isInArray(date, dates) {
    for(var idx = 0, length = dates.length; idx < length; idx++) {
      var d = dates[idx];
      if (date.getFullYear() == d.getFullYear() &&
          date.getMonth() == d.getMonth() &&
          date.getDate() == d.getDate()) {
        return true;
      }
    }

    return false;
  }

</script>
    
 </div>    
    
  
    
  <div id="map"></div>  
    
    
<div class="cl"></div>
<div class="loading"></div>
<div class="form_info submit_wrap">
    <input class="btn btn-primary pull-right" type="submit" value="Valider" >
			
</div>
<div class="cl"></div>
</form>
    
   
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="cl"></div><section class="content_wrap fullwidth">

<div class="middle_content entry" role="main">
	</div>
<!-- _________________________ Finish Content _________________________ -->

</section>
</div>

<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->
 </div></div></div></div></div></div></div>
</div>

<!-- _________________________ Finish Page _________________________ -->

   
    
    
    
    

	<!--<script type="text/javascript" src="/app/js/maps/maps.js"></script>
<script type="text/javascript" src="/app/js/maps/custom-maps.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            // Example Map 5
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', map5);


            function map5() {
                var myLatLng = {lat: 36.81881, lng: 10.16596};
                
                document.getElementById('latitude').value = 36.81881;
                document.getElementById('longitude').value = 10.16596;

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: myLatLng
              });
              var title = 'Address:';
              var description = 'Tunis';
              var contentString = '<h4>' + title + '</h4>' + '<p>' + description + '</p>'

              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });

              var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  draggable:true,
                  title: 'Uluru (Ayers Rock)'
              });
              google.maps.event.addListener(marker, 'dragend', function (evt) {
                  document.getElementById('latitude').value = evt.latLng.lat().toFixed(3);
                  document.getElementById('longitude').value = evt.latLng.lng().toFixed(3);

              });

              google.maps.event.addListener(marker, 'dragstart', function (evt) {
                  document.getElementById('latitude').value = 'Currently dragging...';
                  document.getElementById('longitude').value = 'Currently dragging...';

              });
              marker.addListener('click', function() {
                  infowindow.open(map, marker);
              });
            }
        });
    </script>
-->
 
    