

<head>
	<link rel="pingback" href="http://demo.goodlayers.com/greennature/xmlrpc.php" />
	<title>Green Nature | Just another WordPress site</title>
<meta name='robots' content='noindex,follow' />
<link rel="alternate" type="application/rss+xml" title="Green Nature &raquo; Feed" href="http://demo.goodlayers.com/greennature/feed/" />
<link rel="alternate" type="application/rss+xml" title="Green Nature &raquo; Comments Feed" href="http://demo.goodlayers.com/greennature/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/demo.goodlayers.com\/greennature\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.3"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Lato-google-font-css'  href='http://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Noto-Sans-google-font-css'  href='http://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&#038;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Merriweather-google-font-css'  href='http://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Mystery-Quest-google-font-css'  href='http://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/css/superfish.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='dlmenu-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/component.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/font-awesome-new/css/font-awesome.min.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='elegant-font-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/elegant-font/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/flexslider.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-responsive-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-responsive.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-custom.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='greennature-woo-style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/gdlr-woocommerce.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='wpgmp-frontend-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/wp-google-map-plugin//assets/css/frontend.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='ms-main-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=2.29.0' type='text/css' media='all' />
<link rel='stylesheet' id='ms-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/uploads/masterslider/custom.css?ver=4.8' type='text/css' media='all' />
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=4.3.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpgmp_local = {"language":"en","urlforajax":"http:\/\/demo.goodlayers.com\/greennature\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/wp-google-map-plugin//assets/js/maps.js?ver=4.3.3'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.goodlayers.com/greennature/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.goodlayers.com/greennature/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.3.3" />
<meta name="generator" content="WooCommerce 2.5.5" />
<link rel='canonical' href='http://demo.goodlayers.com/greennature/' />
<link rel='shortlink' href='http://demo.goodlayers.com/greennature/' />
<script>var ms_grabbing_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
<meta name="generator" content="MasterSlider 2.29.0 - Responsive Touch Image Slider" />
<!-- load the script for older ie version -->
<!--[if lt IE 9]>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/html5.js" type="text/javascript"></script>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/easy-pie-chart/excanvas.js" type="text/javascript"></script>
<![endif]-->
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style></head>

<body class="home page page-id-5680 page-template-default _masterslider _msp_version_2.29.0">
<div class="body-wrapper  float-menu" data-home="http://demo.goodlayers.com/greennature/" >
		
			<!-- is search -->	<div class="content-wrapper">
	<div class="greennature-content">

		<!-- Above Sidebar Section-->
						
		<!-- Sidebar With Content Section-->
		<div class="with-sidebar-wrapper"><section id="content-section-3" ><div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin"  id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-image: url('img/title-bg.jpg'); padding-top: 90px; padding-bottom: 65px; " ><div class="container"><div class="six columns" ><div class="greennature-item greennature-action-ads-item"  style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-1.jpg'); " ><h3 class="action-ads-title" style="color: #facc2e;">Make Donation</h3><div class="action-ads-caption greennature-skin-info">Your money can cure this earth</div><div class="action-ads-divider" style="background: #facc2e;"></div><div class="action-ads-content"><p>We are a larhge froup of people who powered movement fighting for a green and peaceful future for your land, forest, ocenas, foods, climate and pass the green earth to our children. Each one of us can make small changes in our lives, but together we can change the world.</p>
<a class="action-ads-button large greennature-button greennature-lb-payment" href="#" style="color: #6d5b1c;background-color: #fec428;" >Donate Now</a></div></div></div><div class="six columns" ><div class="greennature-item greennature-action-ads-item"  style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-2.jpg'); " ><h3 class="action-ads-title" style="color: #5dc269;">Stop Drilling, Need Action!</h3><div class="action-ads-caption greennature-skin-info">Your voice does matter</div><div class="action-ads-divider" style="background: #5dc269;"></div><div class="action-ads-content"><p>The Obama administration just granted Shell&#8217;s final permit to drill in the Alaskan Arctic this summer despite overwhelming global public opposition and the obvious risks to Arctic communities, wildlife, and our climate. But this isn’t over. The President knows what’s at stake: his climate legacy.</p>
<a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;" href="http://demo.goodlayers.com/greennature/act-now/" >Act Now!</a></div></div></div><div class="clear"></div></div></div><div class="clear"></div></section><section id="content-section-4" ><div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; " >
            
     
<section id="middle">
<style type="text/css">.headline_color {
				background-color:#000000;
				opacity:0;
			}
			.headline_aligner {
				min-height:70px;
			}
		</style>
		<div class="middle_inner">
<section class="content_wrap fullwidth">

<!--_________________________ Start Content _________________________ -->
<div class="middle_content entry" role="main">
	</div></section><style type="text/css"> 
#cmsms_row_56be4e109e26f .cmsms_row_outer_parent { 
	padding-top: 50px; 
} 

#cmsms_row_56be4e109e26f .cmsms_row_outer_parent { 
	padding-bottom: 50px; 
} 

 
#cmsms_row_56be4e10b6657 { 
	background-image: url(/app/wp-content/uploads/2014/07/bg-prlx-big-sky.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: scroll; 
	background-size: cover; 
} 

#cmsms_row_56be4e10b6657 .cmsms_row_outer_parent { 
	padding-top: 50px; 
} 

#cmsms_row_56be4e10b6657 .cmsms_row_outer_parent { 
	padding-bottom: 50px; 
} 

</style><div id="cmsms_row_56be4e109e26f" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<div class="cmsms_wrap_blog entry-summary" id="blog_56be4e109e4b2"><script type="text/javascript">
jQuery(document).ready(function () {
	(function ($) {
		if ($('#blog_56be4e109e4b2').find('article').length == '0') {
			return false;
		}
		
	
		startBlog( 
			'56be4e109e4b2', 
			'columns', 
			'masonry', 
			'/app/wp-content/plugins/cmsms-content-composer/index.html', 
			'date', 
			'DESC', 
			'12', 
			'', 
			'date,categories,author,comments,likes' 
		);
	} )(jQuery);
} );
</script>
<div class="blog columns masonry cmsms_3" ng-controller="blogController" >
<!--_________________________ Start Standard Article _________________________ -->


<article   ng-repeat="ev in events |  filter:filter_name |  orderBy: 'startDate':true" class="one_third format-profile"  ng-controller="EventsController">
<div class="pl_img">
<figure><a href="#/blog/{{blogs.indexOf(blog)}}"><img width="580" height="390" src="http://localhost:3000/uploads/{{ev.image_id.link}}" class="attachment-blog-masonry-thumb size-blog-masonry-thumb wp-post-image" alt="{{ev.nameEvent}}" title="{{ev.nameEvent}}" /></a></figure>
</div>
<div class="pl_content">
<h2 class="entry-title"><a href="#/blog/{{blogs.indexOf(blog)}}">{{ev.nameEvent}}</a></h2>
<h5 class="pl_subtitle">{{ev.startDate |date: 'dd-MM-yyyy HH:mm'}} </h5>
<div class="entry-content">
</div>
</div>

<div class="cl"></div>
</article>




</div><div class="cmsms_wrap_more_posts"></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="cl"></div><section class="content_wrap fullwidth">

<div class="middle_content entry" role="main">
	</div>
<!-- _________________________ Finish Content _________________________ -->

</section>
</div>
</section>       
            
            
            
            
            
            
            
          </div><div class="clear"></div></section><section id="content-section-5" ><div class="greennature-color-wrapper  gdlr-show-all greennature-skin-service-half greennature-half-bg-wrapper" style="background-color: #f5f5f5; padding-bottom: 20px; " ><div class="greennature-half-bg greennature-bg-solid"  style="background-image: url(http://demo.goodlayers.com/greennature/wp-content/uploads/2013/12/shutterstock_133689230.jpg);"  ></div><div class="container"><div class="six columns" ><div class="greennature-item greennature-content-item" ></div></div><div class="six columns" ><div class="greennature-item greennature-icon-with-list-item" ><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-1.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title">Mollis Mattis</div><div class="list-with-icon-caption"><p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</div></div><div class="clear"></div></div></div><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-2.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title">Ullamcorper Mattis Etiam</div><div class="list-with-icon-caption"><p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</div></div><div class="clear"></div></div></div><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-3.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title">Mattis Etiam Justo</div><div class="list-with-icon-caption"><p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</div></div><div class="clear"></div></div></div><div class="clear"></div></div></div><div class="clear"></div></div></div><div class="clear"></div></section>
            
            
            
</div>
		<!-- Below Sidebar Section-->
		
				
	</div><!-- greennature-content -->
		<div class="clear" ></div>
	</div><!-- content wrapper -->

		
	
		
		
</div> <!-- body-wrapper -->
<script type="text/javascript"></script><script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/demo.goodlayers.com\/greennature\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/demo.goodlayers.com\/greennature\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/js/superfish.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/modernizr.custom.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/jquery.dlmenu.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/jquery.easing.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.pack.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/helpers/jquery.fancybox-media.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/helpers/jquery.fancybox-thumbs.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/jquery.flexslider.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/jquery.isotope.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/gdlr-script.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/js/masterslider.min.js?ver=2.29.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/jquery.transit.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/gdlr-portfolio/gdlr-portfolio-script.js?ver=1.0'></script>
</body>

<!-- Dynamic page generated in 1.146 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-05 15:58:05 -->

<!-- super cache -->