
<div class="archive post-type-archive post-type-archive-tribe_events tribe-filter-live tribe-events-uses-geolocation events-list events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-econature tribe-events-page-template">
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700&amp;ver=4.2' type='text/css' media='all' />
		
<style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>

<!--[if lt IE 9]>
<link rel='stylesheet' id='theme-ie-css'  href='http://eco-nature.cmsmasters.net/wp-content/themes/econature/css/ie.css?ver=1.0.0' type='text/css' media='screen' />
<![endif]-->

<!--<script type='text/javascript'>
/* <![CDATA[ */
var TribeEventsPro = {"geocenter":{"max_lat":37.802768,"max_lng":-122.27294,"min_lat":37.802768,"min_lng":-122.27294},"map_tooltip_event":"Event: ","map_tooltip_address":"Address: "};
/* ]]> */
</script>-->
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&amp;ver=1.0.0'></script>
		<script src="js/jquery.gMap.min.js" type="text/javascript"></script>





<script type='text/javascript'>
/* <![CDATA[ */
var tribe_this_week = {"ajaxurl":"http:\/\/eco-nature.cmsmasters.net\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://eco-nature.cmsmasters.net/wp-content/plugins/events-calendar-pro/src/resources/js/widget-this-week.min.js?ver=4.0.3'></script>
<link rel='https://api.w.org/' href='http://eco-nature.cmsmasters.net/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://eco-nature.cmsmasters.net/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://eco-nature.cmsmasters.net/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Greenhouse gas emissions' href='http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2017-12-10/' />
<meta name="generator" content="WordPress 4.4.2" />
<meta name="generator" content="WooCommerce 2.4.12" />
<link rel='shortlink' href='http://eco-nature.cmsmasters.net/?p=3365' />
<link rel="alternate" type="application/json+oembed" href="http://eco-nature.cmsmasters.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Feco-nature.cmsmasters.net%2Fevent%2Fannual-clean-power-healthy-communities-conference%2F2016-06-18%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://eco-nature.cmsmasters.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Feco-nature.cmsmasters.net%2Fevent%2Fannual-clean-power-healthy-communities-conference%2F2016-06-18%2F&#038;format=xml" />
<style type="text/css">
	.header_top,
	.header_top_outer,
	.header_top_inner, 
	.header_top_aligner {
		height : 35px;
	}
	
	.header_mid,
	.header_mid_outer,
	.header_mid .header_mid_inner .search_wrap_inner,
	.header_mid .header_mid_inner .slogan_wrap_inner,
	.header_mid .header_mid_inner .social_wrap_inner,
	.header_mid .header_mid_inner nav > div > ul,
	.header_mid .header_mid_inner nav > div > ul > li,
	.header_mid .header_mid_inner nav > div > ul > li > a,
	.header_mid .header_mid_inner nav > div > ul > li > a > span.nav_bg_clr,
	.header_mid .header_mid_inner .logo,
	.header_mid .header_mid_inner .resp_nav_wrap_inner {
		height : 95px;
	}
	
	.header_bot,
	.header_bot_outer,
	.header_bot .header_bot_inner nav > div > ul,
	.header_bot .header_bot_inner nav > div > ul > li,
	.header_bot .header_bot_inner nav > div > ul > li > a {
		height : 45px;
	}
	
	#page.fixed_header #middle {
		padding-top : 95px;
	}
	
	#page.fixed_header.enable_header_top #middle {
		padding-top : 130px;
	}
	
	#page.fixed_header.enable_header_bottom #middle {
		padding-top : 140px;
	}
	
	#page.fixed_header.enable_header_top.enable_header_bottom #middle {
		padding-top : 175px;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top,
		.header_top_outer,
		.header_top_inner,
		.header_top_aligner,
		.header_mid,
		.header_mid_outer,
		.header_mid .header_mid_inner nav > div > ul,
		.header_mid .header_mid_inner nav > div > ul > li,
		.header_mid .header_mid_inner nav > div > ul > li > a,
		.header_mid .header_mid_inner nav > div > ul > li > a > span.nav_bg_clr,
		.header_bot,
		.header_bot_outer,
		.header_bot .header_bot_inner nav > div > ul,
		.header_bot .header_bot_inner nav > div > ul > li,
		.header_bot .header_bot_inner nav > div > ul > li > a {
			height : auto;
		}
		
		#page.fixed_header #middle,
		#page.fixed_header.enable_header_top #middle,
		#page.fixed_header.enable_header_bottom #middle,
		#page.fixed_header.enable_header_top.enable_header_bottom #middle {
			padding-top : 0px !important;
		}
	}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
overflow-y:auto;
}
	#footer.cmsms_footer_default .footer_inner {
		min-height:450px;
	}
	
	.fixed_footer #main {
		margin-bottom:450px;
	}
</style><link rel='canonical' href='http://eco-nature.cmsmasters.net/event/annual-clean-power-healthy-communities-conference/2016-06-18/' />

<div class="single single-tribe_events postid-3365 tribe-filter-live tribe-events-uses-geolocation events-single tribe-events-style-full tribe-events-style-theme tribe-theme-econature tribe-events-page-template">
	
     
    <div class="greennature-page-title-wrapper " ng-controller="EventsController">
		
			
				<h1 class="widgettitle">{{event.nameEvent}}</h1>
								
								
		</div>
    	
<!-- _________________________ Start Page _________________________ -->
<section id="page" class="csstransition chrome_only cmsms_liquid fixed_header hfeed site">


<!-- _________________________ Start Main _________________________ -->
<div id="main"  ng-controller="EventsController">
	
<!-- _________________________ Start Header _________________________ -->
<!-- _________________________ Finish Header _________________________ -->

	
<!-- _________________________ Start Middle _________________________ -->
<section id="middle" >
<div class="middle_inner">
    
   <div class="sidebar" role="complementary">
        <aside id="search-2" class="widget widget_search">
          <div class="search_bar_wrap">
            <form method="get">
              <p>
                <input name="s" placeholder="{{'events.Rechercher' | translate }}" ng-model="filter_name" value="" type="text" />
                <button type="submit" class="cmsms-icon-search-7"></button>
              </p>
            </form>
          </div>
        </aside>
       
        
        <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget"><h3 class="greennature-widget-title">Evenements Recents</h3><div class="clear"></div><div class="greennature-recent-port-widget" ng-repeat="event in events | filter:filter_name | orderBy: 'startDate':true | limitTo: 3" ><div class="recent-post-widget"><div class="recent-post-widget-thumbnail"><a href="#/events/{{event._id}}"><img src="http://localhost:3000/uploads/{{event.image_id.link}}" alt="" width="150" height="150"></a></div><div class="recent-post-widget-content"><div class="recent-post-widget-title"><a href="#/events/{{event._id}}">{{event.nameEvent}}</a></div><div class="recent-post-widget-info"><div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#/events/{{event._id}}">{{event.startDate |date: 'dd-MM-yyyy HH:mm'}}</a></div><div class="clear"></div></div></div><div class="clear"></div></div><div class="clear"></div></div></div>
       
       
       <aside id="custom-flickr-2" class="widget widget_custom_flickr_entries" controller="EventsController">
									<div id="flickr">
										<h3 class="widgettitle">Participants</h3>
										<div class="wrap">
										
										</div>
										<div class="cl"></div>
                        <div ng-repeat=" partcip in event.participants" ng-controller="EventsController">
                                        
<img width="100" height="26" src="http://localhost:3000/uploads/{{partcip.image_id.link}}" class="attachment-100x100" alt="Downshifting" title="{{partcip.username}}" style="width:100px; height:100px;" />
									
				</div>							
										
									</div>
								</aside>
       
        <aside id="cmsms_paypal" class="widget widget_custom_paypal_donations">
          <div class="cmsms_paypal_donations_widget">
            <h3 class="widgettitle">Donate</h3>
           <p>Donec fringilla, erat et semper eleifend, justo quam sodales a vehicula ipsum libero eget mi. Integer condimentum, nibh aliquet.</p>
            <a href="#" class="button">DONATE NOW!</a>
          </div>
        </aside>
          
           <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget"><h3 class="greennature-widget-title">Populaires</h3><div class="clear"></div><div class="greennature-recent-port-widget" ng-repeat="event in events | filter:filter_name | orderBy: 'event.participants.length':Desc | limitTo: 3" ><div class="recent-post-widget"><div class="recent-post-widget-thumbnail"><a href="#/events/{{event._id}}"><img src="http://localhost:3000/uploads/{{event.image_id.link}}" alt="" width="150" height="150"></a></div><div class="recent-post-widget-content"><div class="recent-post-widget-title"><a href="#/events/{{event._id}}">{{event.nameEvent}}</a></div><div class="recent-post-widget-info"><div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#/events/{{event._id}}">{{event.startDate |date: 'dd-MM-yyyy HH:mm'}}</a><br><a href="#/events/{{event._id}}">{{event.participants.length}}<span> Participants</span></a>
               </div><div class="clear"></div></div></div><div class="clear"></div></div><div class="clear"></div></div></div>
          
          
      <div id="tag_cloud-2" class="widget widget_tag_cloud greennature-item greennature-widget"><h3 class="greennature-widget-title">Tags </h3><div class="clear"></div><div class="tagcloud"><a href="http://demo.goodlayers.com/greennature/tag/animal/" class="tag-link-11" title="1 topic" style="font-size: 8pt;">Animal</a>
<a href="http://demo.goodlayers.com/greennature/tag/aside/" class="tag-link-12" title="1 topic" style="font-size: 8pt;">Aside</a>
<a href="http://demo.goodlayers.com/greennature/tag/audio/" class="tag-link-13" title="2 topics" style="font-size: 11.2307692308pt;">Audio</a>
<a href="http://demo.goodlayers.com/greennature/tag/blog/" class="tag-link-14" title="9 topics" style="font-size: 20.5641025641pt;">Blog</a>
<a href="http://demo.goodlayers.com/greennature/tag/business/" class="tag-link-15" title="4 topics" style="font-size: 15.1794871795pt;">Business</a>
<a href="http://demo.goodlayers.com/greennature/tag/identity-2/" class="tag-link-17" title="3 topics" style="font-size: 13.3846153846pt;">identity</a>
<a href="http://demo.goodlayers.com/greennature/tag/life-stlyle/" class="tag-link-74" title="1 topic" style="font-size: 8pt;">Life Stlyle</a>
<a href="http://demo.goodlayers.com/greennature/tag/life-style/" class="tag-link-18" title="11 topics" style="font-size: 22pt;">Life Style</a>
<a href="http://demo.goodlayers.com/greennature/tag/link/" class="tag-link-19" title="2 topics" style="font-size: 11.2307692308pt;">Link</a>
<a href="http://demo.goodlayers.com/greennature/tag/news/" class="tag-link-20" title="4 topics" style="font-size: 15.1794871795pt;">News</a>
<a href="http://demo.goodlayers.com/greennature/tag/post-format/" class="tag-link-21" title="4 topics" style="font-size: 15.1794871795pt;">Post format</a>
<a href="http://demo.goodlayers.com/greennature/tag/quote/" class="tag-link-22" title="1 topic" style="font-size: 8pt;">Quote</a>
<a href="http://demo.goodlayers.com/greennature/tag/safari/" class="tag-link-23" title="1 topic" style="font-size: 8pt;">Safari</a>
<a href="http://demo.goodlayers.com/greennature/tag/travel/" class="tag-link-24" title="1 topic" style="font-size: 8pt;">Travel</a>
<a href="http://demo.goodlayers.com/greennature/tag/video/" class="tag-link-25" title="1 topic" style="font-size: 8pt;">Video</a></div>
</div>   
               
          
   
     
      </div>
    
    
    
<section class="content_wrap r_sidebar">

<!--_________________________ Start Content _________________________ -->
<div class="content entry" role="main">
	<div id="tribe-events-pg-template" class="clearfix">
	<div id="tribe-events" class="tribe-no-js" data-live_ajax="1" data-datepicker_format="2" data-category=""><div class="tribe-events-before-html"></div><span class="tribe-events-ajax-loading"><img class="tribe-events-spinner-medium" src="http://eco-nature.cmsmasters.net/wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events" /></span>
<div id="tribe-events-content" class="tribe-events-single vevent hentry">
	<div id="post-3365" class="cmsms_single_event post-3365 tribe_events type-tribe_events status-publish has-post-thumbnail hentry tribe-recurring-event tribe-recurring-event-child">
		<div class="cmsms_single_event_header clearfix">
            <form class="form col-sm-8">
			<div class="cmsms_single_event_header_left clearfix">
				<h1 class="tribe-events-single-event-title summary entry-title" ng-controller="EventsController">{{event.nameEvent}}</h1>				<div class="tribe-events-schedule updated published clearfix">
				<h6><span class="tribe-event-date-start" ng-controller="EventsController">{{event.startDate |date: 'dd-MM-yyyy'}}</span> - <span class="tribe-event-time">{{event.startDate |date: 'HH:mm'}}</span><div class="recurringinfo"><div class="event-is-recurring"><span class="tribe-events-divider">|</span > <span translate='events.voulezvous'>Rejoignez nous! </span> 
<form class="form-horizontal col-sm-offset-1" method="post">
    
    
    <script>
   /*  $("#btnSubmit").on("click", function(e){
          e.PreventDefault();
          $(this).closest("form")[0].submit();
          $(this).prop('disabled',true)
     });
    */
$('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
    
</script>
    
    
    
     <button id="btnsubmit" class="btn btn-success"   ng-click="upVote()"  ng-Controller="participateController"   ng-disabled="$storage.hasJoined"><span >Participer </span></button>
    
    
    
                        
                        <div id="tribe-events-tooltip-3365" class="tribe-events-tooltip recurring-info-tooltip"><div class="tribe-events-event-body">Monthly on the same day</div><span class="tribe-events-arrow"></span></div>
                                        </form>

                    </div></div></h6>				</div>
			</div>
            </form>
			<div class="cmsms_single_event_header_right clearfix">
				<h6 class="tribe-events-back">
					<a class="cmsms-icon-calendar-8" href="#/events" translate='events.all'>Tous les évenements</a>
				</h6>
				<div class="tribe-events-cal-links"><a class="tribe-events-gcal tribe-events-button" href="#">{{event.participants.length}} participants</a></div><!-- .tribe-events-cal-links -->			</div>
		</div>
    
        
        
    <div id="tribe-events" class="tribe-no-js" data-live_ajax="1" data-datepicker_format="2" data-category=""><div class="tribe-events-before-html"></div><span class="tribe-events-ajax-loading"><img class="tribe-events-spinner-medium" src="http://eco-nature.cmsmasters.net/wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events" /></span>
<div id="tribe-events-content" class="tribe-events-single vevent hentry">
	<div class="tribe-events-single-section tribe-events-event-meta cmsms_single_event_meta cmsms_event_meta_info_col_3">
<div class="tribe-events-meta-group tribe-events-meta-group-details">
	<h2 class="tribe-events-single-section-title">Details </h2>
	<div class="cmsms_event_meta_info">
        
        
   
        
        
        
        
					<div >
                        
                        <h4 style="color:#5dc269;">Description:</h4>            
                        
			
				<span class="cmsms_event_meta_info_item_descr">
					<abbr class="tribe-events-abbr updated published dtstart" title="2016-06-18">{{event.description}}</abbr>
				</span>
			</div>
	
					
			</div>
</div></div>	</div>
	
       
    
</div>
        
        
        
<section id="content-section-5"   ng-controller="EventsController">
       
    <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-service-half greennature-half-bg-wrapper" style="background-color: #f5f5f5; padding-bottom: 20px; " ><div class="greennature-half-bg greennature-bg-solid"  style="background-image:url(http://localhost:3000/uploads/{{event.image_id.link}});" width="30px"  ></div><div class="container"><div class="six columns" style="left:-108px;" ><div class="greennature-item greennature-content-item" ></div></div><div class="six columns" style="left: -108px;" ><div class="greennature-item greennature-icon-with-list-item" ><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-1.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title" translate='events.ddeb'>Date de début:</div><div class="list-with-icon-caption"><h4 style="color:#909090;">{{event.startDate |date: 'dd-MM-yyyy HH:mm'}}</h4>
</div></div><div class="clear"></div></div></div>
        
        </div>
        
        
     <div class="greennature-item greennature-icon-with-list-item" ><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-2.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title" translate='events.dfin'>Date de Fin:</div><div class="list-with-icon-caption"><h4 style="color:#909090;">{{event.endDate |date: 'dd-MM-yyyy HH:mm'}}</h4>
</div></div><div class="clear"></div></div></div>
        
        </div>  <div class="greennature-item greennature-icon-with-list-item" ><div class="list-with-icon-ux greennature-ux"><div class="list-with-icon greennature-left"><div class="list-with-icon-image"><img src="http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/icon-3.png" alt="" width="80" height="80" /></div><div class="list-with-icon-content"><div class="list-with-icon-title greennature-skin-title" translate='events.adr'>Adresse:</div><div class="list-with-icon-caption" ><h4 style="color:#909090;">{{event.region}}</h4>
</div></div><div class="clear"></div></div></div>
        
        </div><div class="clear"></div></div></div><div class="clear"></div></div><div class="clear"></div>
        
    <div class="clear"></div>
    
    
    
    
    

        </section>
     
        <br>
        <br>
        <br>
        <br>
        <br>
        
        
        
        
        
        <google-map-locator class="google-map"  style="height:400px;"
      location = "{{region}}"
      radius="10"
      on-location-initialize="onLocationInitialize(location)"
      on-location-change="onLocationChange(location)"
      on-map-loaded="onMapLoaded(map)">
    </google-map-locator>  
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
  
	
       
    


<div class="tribe-events-after-html"></div></div><!-- #tribe-events -->
<!--
This calendar is powered by The Events Calendar.
http://eventscalendarpro.com/
-->
<div class="cl"></div> <!-- #tribe-events-pg-template -->
<!-- _________________________ Finish Content _________________________ -->
    </div>
    </div></div>
    </div>
</section>
</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->

<!-- _________________________ Start Footer _________________________ -->
	
<!-- _________________________ Finish Footer _________________________ -->

</section>
<!-- _________________________ Finish Page _________________________ -->
 
    
    
    
    
    
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
        
<script src="http://maps.googleapis.com/maps/api/js"></script>





			
			
		
			
			<script type='text/javascript' src='/js/widget-countdown.js'></script>



<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?ver=4.4.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tribeEventsSingleMap = {"addresses":[{"address":"1111 Broadway, 7th Floor Oakland CA United States ","title":"California Endowment Conference Center"}],"zoom":"8"};
var tribeEventsSingleMap = {"addresses":[{"address":"1111 Broadway, 7th Floor Oakland CA United States ","title":"California Endowment Conference Center","coords":["37.8027679","-122.2729398"]}],"zoom":"8"};
/* ]]> */
</script>



    
    
    </div>
    
    </div>

 <script>
                                                
                         var eve = JSON.parse(sessionStorage.getItem("ngStorage-evenement"));
                    console.log(eve);
                                                
                                                
    var x = (eve.startDate);
                                                  console.log(x);
                                            
                                                
                                                  function getTimeRemaining(endtime) {
                                                  var t = Date.parse(endtime) - Date.parse(new Date());
                                                  var seconds = Math.floor((t / 1000) % 60);
                                                  var minutes = Math.floor((t / 1000 / 60) % 60);
                                                  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                                                  var days = Math.floor(t / (1000 * 60 * 60 * 24));
                                                  return {
                                                    'total': t,
                                                    'days': days,
                                                    'hours': hours,
                                                    'minutes': minutes,
                                                    'seconds': seconds
                                                  };
 
                                                  function initializeClock(id, endtime) {
                                                  var clock = document.getElementById(id);
                                                  var daysSpan = clock.querySelector('.days');
                                                  var hoursSpan = clock.querySelector('.hours');
                                                  var minutesSpan = clock.querySelector('.minutes');
                                                  var secondsSpan = clock.querySelector('.seconds');

                                                  function updateClock() {
                                                    var t = getTimeRemaining(endtime);

                                                    daysSpan.innerHTML = t.days;
                                                    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                                                    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                                                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                                                    if (t.total <= 0) {
                                                      clearInterval(timeinterval);
                                                                                                                                                                                                                console.log("timeerrr");

                                                    }
                                                  }

                                                  updateClock();
                                                  var timeinterval = setInterval(updateClock, 1000);
  
                                                }

     var deadline = new Date(Date.parse(x));
                                                initializeClock('clockdiv', deadline);
                                                                                                                                                        console.log("timeee!!!");
}

                                            </script>
            
            
            
        -->
<!--

        </div>
-->


<div class="tribe-events-after-html"></div><div><!-- #tribe-events -->
<!--
This calendar is powered by The Events Calendar.
http://eventscalendarpro.com/
-->
<div class="cl"></div></div> <!-- #tribe-events-pg-template -->
</div>
<!-- _________________________ Finish Content _________________________ -->

  <!-- _________________________ Start Sidebar _________________________ -->
      
      <!-- _________________________ Finish Sidebar _________________________ -->
    </div>
</section>
</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->

<!-- _________________________ Start Footer _________________________ -->
	
<!-- _________________________ Finish Footer _________________________ -->

</section>
<!-- _________________________ Finish Page _________________________ -->
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
        
<script src="http://maps.googleapis.com/maps/api/js"></script>








<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?ver=4.4.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tribeEventsSingleMap = {"addresses":[{"address":"1111 Broadway, 7th Floor Oakland CA United States ","title":"California Endowment Conference Center"}],"zoom":"8"};
var tribeEventsSingleMap = {"addresses":[{"address":"1111 Broadway, 7th Floor Oakland CA United States ","title":"California Endowment Conference Center","coords":["37.8027679","-122.2729398"]}],"zoom":"8"};
/* ]]> */
</script>



    
    
    </div>
    
    </div>

