<link rel='stylesheet' id='contact-form-7-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Lato-google-font-css'  href='http://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Noto-Sans-google-font-css'  href='http://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&#038;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Merriweather-google-font-css'  href='http://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Mystery-Quest-google-font-css'  href='http://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/css/superfish.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='dlmenu-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/component.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/font-awesome-new/css/font-awesome.min.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='elegant-font-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/elegant-font/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/flexslider.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-responsive-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-responsive.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-custom.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='greennature-woo-style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/gdlr-woocommerce.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='wpgmp-frontend-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/wp-google-map-plugin//assets/css/frontend.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='ms-main-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=2.29.0' type='text/css' media='all' />
<link rel='stylesheet' id='ms-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/uploads/masterslider/custom.css?ver=4.8' type='text/css' media='all' />
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=4.3.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpgmp_local = {"language":"en","urlforajax":"http:\/\/demo.goodlayers.com\/greennature\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/wp-google-map-plugin//assets/js/maps.js?ver=4.3.3'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.goodlayers.com/greennature/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.goodlayers.com/greennature/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.3.3" />
<meta name="generator" content="WooCommerce 2.5.5" />
<link rel='canonical' href='http://demo.goodlayers.com/greennature/act-now/' />
<link rel='shortlink' href='http://demo.goodlayers.com/greennature/?p=5959' />
<script>var ms_grabbing_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
<meta name="generator" content="MasterSlider 2.29.0 - Responsive Touch Image Slider" />
<!-- load the script for older ie version -->
<!--[if lt IE 9]>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/html5.js" type="text/javascript"></script>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/easy-pie-chart/excanvas.js" type="text/javascript"></script>
<![endif]-->
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>
  <link rel="stylesheet" href="quizapp-angular-master/style.css" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>

<body class="page page-id-5959 page-template-default _masterslider _msp_version_2.29.0">
<div class="body-wrapper  float-menu" data-home="http://demo.goodlayers.com/greennature/" >

			<!-- is search -->	
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/act-bg.jpg'); padding-top: 200px; padding-bottom: 15px; " ><div class="container"><div class="greennature-title-item"  style="margin-bottom: 45px;"  ><div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-large "><div class="greennature-item-title-container container"><div class="greennature-item-title-head"><h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Quiz spécial environnement :</h3><div class="greennature-item-title-caption greennature-skin-info"> à vous de jouer !</div><div class="clear"></div></div></div></div></div><div class="clear"></div><div class="greennature-item greennature-content-item" ><div role="form" class="wpcf7" id="wpcf7-f5967-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<div class="container">

		
    <quiz/>

  </div>
</div>

	</div><!-- greennature-content -->
		
	</div><!-- content wrapper -->

		
	
	</div>
	
<script type="text/javascript"></script><script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/demo.goodlayers.com\/greennature\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/act-now\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/demo.goodlayers.com\/greennature\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/act-now\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/greennature\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/greennature\/act-now\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/js/superfish.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/modernizr.custom.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/jquery.dlmenu.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/jquery.easing.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.pack.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/helpers/jquery.fancybox-media.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/helpers/jquery.fancybox-thumbs.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/jquery.flexslider.js?ver=1.0'></script>
<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/gdlr-script.js?ver=1.0'></script>